* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none;}
img {display: block;}

*::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'min_bold';
    font-weight: 600;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'bold';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf') format("truetype");
    font-display: swap;
}

body {font-family: 'Pretendard'; line-height: 16px;}

p {margin-bottom: 0;}

ul {margin: 0; padding: 0;}

input:not([type]), input[type="text"], input[type="password"], 
input[type="date"], input[type="datetime"], 
input[type="datetime-local"], input[type="month"], 
input[type="week"], input[type="email"], input[type="number"], 
input[type="search"], input[type="tel"], input[type="time"], 
input[type="url"], input[type="color"], textarea
{box-shadow: none;
background-color: #fff;
padding: 0;
margin-bottom: 0;
outline: none;}

input[type="checkbox"]
{margin-bottom: 0;}

input[type="checkbox"]+label, input[type="radio"]+label 
{margin: 0;}

@media all and (min-width: 1420px)
{
    /*비주얼베너*/
    div.visual_sub_banner
    {width: 100%; height: 350px;
    margin-top: 139.44px;
    overflow: hidden;
    position: relative;}

    div.visual_sub_banner img
    {width: 100%; height: 100%;
    object-fit: cover;
    transition: all 2s;
    transform: scale(1.2);}

    p.visual_sub_text
    {width: 100%;
    position: absolute;
    top: calc(50% - 25px); left: 0;
    text-align: center;
    opacity: 0;
    transition: all 2s;
    font-family: bold; color: #fff;
    font-size: 42px; line-height: 50px;}

     /*루트*/
    div.nav_ex
    {width: 100%;
    background-color: #51b8ff;}

    nav.nav_box
    {width: 1400px;
    margin: 0 auto;}

    nav.nav_box>ul
    {width: 100%;
    overflow: hidden;}

    nav.nav_box>ul>li
    {float: left;}

    nav.nav_box>ul>li:nth-child(1)
    {width: 20px; height: 20px;
    margin-top: 10px; margin-bottom: 10px;}
    
    nav.nav_box>ul>li:nth-child(1) img
    {width: 100%; height: 100%;
    object-fit: cover;}

    nav.nav_box>ul>li>p
    {line-height: 40px;
    color: #fff;
    margin-left: 10px; margin-right: 10px;}

    nav.nav_box>ul>li>a>p
    {line-height: 40px;
    color: #fff;}

    /*디테일 박스*/
    div.translation_detaile_ex
    {width: 1200px;
    margin: 100px auto;
    margin-bottom: 150px;}

     /*타이틀*/
    div.translation_detaile_title
    {width: 100%;
    margin-bottom: 50px; padding-bottom: 50px;
    border-bottom: 1px solid #222; box-sizing: border-box;}

    div.translation_detaile_title>p:nth-child(1)
    {width: 100%;
    font-family: 'min_bold'; line-height: 25px;
    color: #51b8ff; 
    margin-bottom: 10px;}

    div.translation_detaile_title>p:nth-child(2)
    {width: 100%;
    font-size: 28px; font-family: bold; line-height: 32px;
    color: #222; word-break: keep-all;}

    /*상품 전체 박스*/
    div.translation_detaile_contents_ex
    {width: 100%;}

     /*정보*/
    div.translation_detaile_contents_title_ex
    {width: 100%;
    border-bottom: 1px solid #ddd; box-sizing: border-box;
    padding-bottom: 30px; margin-bottom: 50px;
    display: flex;
    align-items: center;}

    /*이미지*/
    div.translation_detaile_contents_title_img_box
    {width: 300px; height: 0;
    padding-bottom: 25.908%;
    border-radius: 5px;
    margin-right: 30px;
    position: relative;
    overflow: hidden;}

    div.translation_detaile_contents_title_img_box img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;}
    
    /*글*/
    div.translation_detaile_contents_title_txt_box
    {width: calc(100% - 330px);
    overflow: hidden;}

     /*사용가능 언어*/
    div.available_languages_ex
    {width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 10px;}
    
    div.available_languages_ex>p
    {width: fit-content;
    padding-left: 5px; padding-right: 5px;
    font-size: 15px;
    margin-right: 10px; line-height: 25px;
    margin-bottom: 10px;
    word-break: break-all;}

    div.available_languages_ex>p:last-child
    {margin-right: 0;}

    p.available_languages_e
    {border: 1px solid #793FDF; box-sizing: border-box;
    color: #793FDF;}

    p.available_languages_j
    {border: 1px solid #7091F5; box-sizing: border-box;
    color: #7091F5;}

    p.available_languages_c
    {border: 1px solid #BB2525; box-sizing: border-box;
    color: #BB2525;}

    p.available_languages_r
    {border: 1px solid #EA1179; box-sizing: border-box;
    color: #EA1179;}

    p.available_languages_m
    {border: 1px solid #3F2E3E; box-sizing: border-box;
    color: #3F2E3E;}

    p.available_languages_v
    {border: 1px solid #FF6666; box-sizing: border-box;
    color: #FF6666;}

     /*설명*/
    p.translation_contents_introduction
    {width: 100%;
    font-size: 16px; color: #555; line-height: 25px;
    margin-bottom: 20px;
    word-break: keep-all;}

    /*가격*/
    div.translation_contents_pay_box
    {width: 100%;
    margin-bottom: 20px;
    overflow: hidden;}

    div.translation_contents_pay_box>div
    {width: fit-content;
    float: right;
    display: flex;
    align-items: center;}

    div.translation_contents_pay_box>div>p:nth-child(1)
    {width: 65px;
    color: red; line-height: 30px;
    margin-right: 10px;}

    div.translation_contents_pay_box>div>p:nth-child(2)
    {width: fit-content;
    max-width: calc(100% - 75px);
    color: red; font-size: 22px; font-family: bold; line-height: 30px;}

    div.translation_contents_pay_box>div>p:nth-child(2)>span 
    {font-family: 'Pretendard';
    font-size: 15px;}

    
    /*지원자격*/
    div.translation_support_ex
    {width: 100%;
    margin-bottom: 50px;}

    /*타이틀*/
    div.translation_support_title
    {width: 100%;
    margin-bottom: 30px;}

    div.translation_support_title>div:nth-child(1)
    {width: 30px; height: 30px;
    margin-bottom: 10px;}

    div.translation_support_title>div:nth-child(1) img
    {width: 100%; height: 100%;
    object-fit: cover;}

    div.translation_support_title>p:nth-child(2)
    {width: 100%;
    font-size: 22px; font-family: bold; color: #222; line-height: 25px;}

    /*컨텐츠01*/
    div.support_criteria_contents_01
    {width: 100%;
    padding-top: 30px; padding-bottom: 30px;
    border: 1px solid #ddd; box-sizing: border-box;
    margin-bottom: 30px;}

    div.support_criteria_contents_01>div
    {width: calc(100% - 60px);
    margin: 0 auto;}

    div.support_criteria_contents_01>div>p
    {width: calc(100% - 20px);
    margin-left: 20px;
    line-height: 25px; color: #555;
    word-break: keep-all;
    position: relative;}

    div.support_criteria_contents_01>div>p::before
    {content: "-";
    width: 15px;
    margin-right: 5px;
    display: block;
    position: absolute;
    top: 0; left: -20px;}

    /*컨텐츠 02*/
    ul.support_criteria_contents_02
    {width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    border-top: 1px solid #222; box-sizing: border-box;}

    ul.support_criteria_contents_02>li
    {padding-top: 20px; padding-bottom: 20px;
    border-bottom: 1px solid #ddd; box-sizing: border-box;}

    ul.support_criteria_contents_02>li:nth-child(odd)
    {width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7fcff;
    border-right: 1px solid #ddd; box-sizing: border-box;}

    ul.support_criteria_contents_02>li:nth-child(even)
    {width: calc(100% - 150px);}

    ul.support_criteria_contents_02>li>p
    {width: calc(100% - 20px);
    margin: 0 auto;
    word-break: keep-all;
    word-wrap: break-word;
    color: #555;
    line-height: 25px;}

    ul.support_criteria_contents_02>li:nth-child(odd)>p
    {text-align: center; font-family: 'min_bold'; color: #333;}

    
   
    /*가격표*/
    div.translation_detaile_pridce_ex
    {width: 100%;
    margin-bottom: 50px;}

    /*타이틀*/
    div.translation_detaile_pridce_title
    {width: 100%;
    margin-bottom: 30px;}

    div.translation_detaile_pridce_title>div:nth-child(1)
    {width: 30px; height: 30px;
    margin-bottom: 10px;}

    div.translation_detaile_pridce_title>div:nth-child(1) img
    {width: 100%; height: 100%;
    object-fit: cover;}

    div.translation_detaile_pridce_title>p:nth-child(2)
    {width: 100%;
    font-size: 22px; font-family: bold; color: #222; line-height: 25px;}
    

    /*가격표*/
    ul.translation_detaile_pridce_contetns_title
    {width: 100%;
    overflow: hidden;}

    ul.translation_detaile_pridce_contetns_title>li
    {width: 50%;
    float: left;
    padding-top: 15px; padding-bottom: 15px;
    background-color: #f7fcff;
    border-top: 1px solid #222; border-bottom: 1px solid #ddd;
    box-sizing: border-box;}

    ul.translation_detaile_pridce_contetns_title>li:nth-child(1)
    {border-right: 1px solid #ddd; box-sizing: border-box;}

    ul.translation_detaile_pridce_contetns_title>li>p
    {width: calc(100% - 30px);
    margin: 0 auto;
    text-align: center;
    font-family: 'min_bold'; color: #222; line-height: 20px;}

    ul.translation_detaile_pridce_contetns
    {width: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;}

    ul.translation_detaile_pridce_contetns>li
    {border-bottom: 1px solid #ddd; box-sizing: border-box;}

    ul.translation_detaile_pridce_contetns>li:nth-child(odd)
    {width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd; box-sizing: border-box;}

    ul.translation_detaile_pridce_contetns>li:nth-child(odd)>p
    {color: #222; line-height: 25px;}

    ul.translation_detaile_pridce_contetns>li:nth-child(even)
    {width: 50%;
    padding-top: 15px; padding-bottom: 15px;}

    ul.translation_detaile_pridce_contetns>li:nth-child(even)>div
    {width: calc(100% - 30px);
    margin: 0 auto;}

    ul.translation_detaile_pridce_contetns>li:nth-child(even)>div>p
    {word-break: keep-all;}

    ul.translation_detaile_pridce_contetns>li:nth-child(even)>div>p:nth-child(1)
    {width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: 'min_bold'; color: red;
    line-height: 25px;
    margin-bottom: 5px;}

    ul.translation_detaile_pridce_contetns>li:nth-child(even)>div>p:nth-child(1)>span
    {font-size: 15px;
    font-family: 'Pretendard';}

    ul.translation_detaile_pridce_contetns>li:nth-child(even)>div>p:nth-child(2)
    {width: 100%;
    text-align: center; font-size: 15px;
    line-height: 25px;
    color: #555;}

    /*방법 및 다운로드*/
    div.translation_how_to_ex
    {width: 100%;
    margin-bottom: 100px;}
    
    /*방법 타이틀*/
    div.how_to_title
    {width: 100%;
    margin-bottom: 30px;}

    div.how_to_title>div:nth-child(1)
    {width: 30px; height: 30px;
    margin-bottom: 10px;}

    div.how_to_title>div:nth-child(1) img
    {width: 100%; height: 100%;
    object-fit: cover;}

    div.how_to_title>p:nth-child(2)
    {width: 100%;
    font-size: 22px; font-family: bold; color: #222; line-height: 25px;}

    /*컨텐츠01*/
    div.how_to_contents_01
    {width: 100%;
    margin-bottom: 30px;}

    div.how_to_contents_01>p
    {width: calc(100% - 26px);
    margin-left: 26px;
    line-height: 25px; color: #222;
    word-break: keep-all;
    position: relative;}

    div.how_to_contents_01>p:nth-child(1):before
    {content: "(1)";
    width: 16px;
    margin-right: 10px;
    display: block;
    position: absolute;
    top: 0; left: -26px;}

    div.how_to_contents_01>p:nth-child(2):before
    {content: "(2)";
    width: 16px;
    margin-right: 10px;
    display: block;
    position: absolute;
    top: 0; left: -26px;}

    div.how_to_contents_01>p:nth-child(2)>span
    {color: #1f4e79; font-family: 'min_bold';}

    /*컨텐츠02*/
    div.how_to_contents_02
    {width: 100%;
    padding-top: 30px; padding-bottom: 30px;
    border: 1px solid #ddd; box-sizing: border-box;
    margin-bottom: 30px;}

    div.how_to_contents_02>div
    {width: calc(100% - 60px);
    margin: 0 auto;}

    div.how_to_contents_02>div>p
    {width: calc(100% - 20px);
    margin-left: 20px;
    line-height: 25px; color: #555;
    word-break: keep-all;
    position: relative;}

    div.how_to_contents_02>div>p::before
    {content: "-";
    width: 15px;
    margin-right: 5px;
    display: block;
    position: absolute;
    top: 0; left: -20px;}

    div.translation_download_box
    {width: 100%;
    overflow: hidden;}

    a.interpreter_download_btn
    {width: fit-content;
    padding: 10px;
    padding-left: 15px; padding-right: 15px;
    display: block;
    border-radius: 5px;
    background-color: red;
    float: right;
    transition: all 0.3s;}

    a.interpreter_download_btn>p
    {line-height: 25px;
    color: #fff;
    font-size: 15px;}

    a.interpreter_download_btn:hover {background-color: rgb(126, 1, 1);}

   

   /*버튼 박스*/
   div.detaile_btn_ex
   {width: fit-content;
   margin: 0 auto;
   overflow: hidden;}

   /*버튼*/
   a.send_email
   {width: 300px; height: 50px;
   border-radius: 5px;
   float: left;
   margin-right: 20px;
   background-color: #51b8ff;
   display: block;
   transition: all 0.3s;}

   a.send_email>p
   {text-align: center;
   color: #fff; line-height: 50px;}

   a.send_email:hover
   {background-color: #1f4e79;}

   /*목록*/
   a.cars_menu_btn
   {width: 300px; height: 50px;
   border-radius: 5px;
   background-color: #ccc;
   display: block;
   float: left;
   transition: all 0.3s;}

   a.cars_menu_btn>p
   {width: 100%;
   transition: all 0.3s;
   text-align: center; line-height: 50px; color: #222;}

   a.cars_menu_btn:hover
   {background-color: #222;}

   a.cars_menu_btn:hover>p
   {color: #fff;}

  

}

@media all and (min-width: 769px) and (max-width : 1419px)
{
    /*비주얼베너*/
    div.visual_sub_banner
    {width: 100%; height: 350px;
    margin-top: 139.44px;
    overflow: hidden;
    position: relative;}

    div.visual_sub_banner img
    {width: 100%; height: 100%;
    object-fit: cover;
    transition: all 2s;
    transform: scale(1.2);}

    p.visual_sub_text
    {width: 100%;
    position: absolute;
    top: calc(50% - 25px); left: 0;
    text-align: center;
    opacity: 0;
    transition: all 2s;
    font-family: bold; color: #fff;
    font-size: 42px; line-height: 50px;}

    /*루트*/
    div.nav_ex
    {width: 100%;
    background-color: #51b8ff;}

    nav.nav_box
    {width: 90%;
    margin: 0 auto;}

    nav.nav_box>ul
    {width: 100%;
    overflow: hidden;}

    nav.nav_box>ul>li
    {float: left;}

    nav.nav_box>ul>li:nth-child(1)
    {width: 20px; height: 20px;
    margin-top: 10px; margin-bottom: 10px;}
    
    nav.nav_box>ul>li:nth-child(1) img
    {width: 100%; height: 100%;
    object-fit: cover;}

    nav.nav_box>ul>li>p
    {line-height: 40px;
    color: #fff;
    margin-left: 10px; margin-right: 10px;}

    nav.nav_box>ul>li>a>p
    {line-height: 40px;
    color: #fff;}

    /*전체박스*/
    div.translation_detaile_ex
    {width: 90%;
    margin: 100px auto;
    margin-bottom: 150px;}

    /*타이틀*/
    div.translation_detaile_title
    {width: 100%;
    margin-bottom: 50px; padding-bottom: 30px;
    border-bottom: 1px solid #222; box-sizing: border-box;}

    div.translation_detaile_title>p:nth-child(1)
    {width: 100%;
    font-size: 17px; font-family: 'min_bold'; color: #51b8ff;
    line-height: 25px; word-break: keep-all;
    margin-bottom: 5px;}

    div.translation_detaile_title>p:nth-child(2)
    {width: 100%;
    font-size: 28px; font-family: bold; line-height: 32px;
    color: #222; word-break: keep-all;}

    /*전체 컨텐츠 박스*/
    div.translation_detaile_contents_ex
    {width: 100%;}

    /*타이틀 박스*/
    div.translation_detaile_contents_title_ex
    {width: 100%;
    padding-bottom: 30px; margin-bottom: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd; box-sizing: border-box;
    overflow: hidden;}

    /*이미지*/
    div.translation_detaile_contents_title_img_box
    {width: 30%; height: 0;
    padding-bottom: 30%;
    border-radius: 5px;
    margin-right: 3%;
    position: relative;
    overflow: hidden;}

    div.translation_detaile_contents_title_img_box img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;}

    /*글*/
    div.translation_detaile_contents_title_txt_box
    {width: 67%;
    overflow: hidden;}

    /*사용가능 언어*/
    div.available_languages_ex
    {width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    overflow: hidden;}
    
    div.available_languages_ex>p
    {width: fit-content;
    padding-left: 5px; padding-right: 5px;
    font-size: 15px;
    margin-right: 10px; line-height: 25px;
    margin-bottom: 10px;
    word-break: break-all;}

    div.available_languages_ex>p:last-child
    {margin-right: 0;}

    p.available_languages_e
    {border: 1px solid #793FDF; box-sizing: border-box;
    color: #793FDF;}

    p.available_languages_j
    {border: 1px solid #7091F5; box-sizing: border-box;
    color: #7091F5;}

    p.available_languages_c
    {border: 1px solid #BB2525; box-sizing: border-box;
    color: #BB2525;}

    p.available_languages_r
    {border: 1px solid #EA1179; box-sizing: border-box;
    color: #EA1179;}

    p.available_languages_m
    {border: 1px solid #3F2E3E; box-sizing: border-box;
    color: #3F2E3E;}

    p.available_languages_v
    {border: 1px solid #FF6666; box-sizing: border-box;
    color: #FF6666;}

    /*설명*/
    p.translation_contents_introduction
    {width: 100%;
    font-size: 16px; color: #555; line-height: 25px;
    margin-bottom: 20px;
    word-break: keep-all;}

    /*가격*/
    div.translation_contents_pay_box
    {width: 100%;
    margin-bottom: 20px;
    overflow: hidden;}

    div.translation_contents_pay_box>div
    {width: fit-content;
    float: right;
    display: flex;
    align-items: center;}

    div.translation_contents_pay_box>div>p:nth-child(1)
    {width: 65px;
    color: red; line-height: 30px;
    margin-right: 10px;}

    div.translation_contents_pay_box>div>p:nth-child(2)
    {width: fit-content;
    max-width: calc(100% - 75px);
    color: red; font-size: 18px; font-family: bold; line-height: 30px;}

    div.translation_contents_pay_box>div>p:nth-child(2)>span 
    {font-family: 'Pretendard';
    font-size: 15px;}
    
    
    /*지원자격*/
    div.translation_support_ex
    {width: 100%;
    margin-bottom: 50px;}

    /*타이틀*/
    div.translation_support_title
    {width: 100%;
    margin-bottom: 30px;}

    div.translation_support_title>div:nth-child(1)
    {width: 30px; height: 30px;
    margin-bottom: 10px;}

    div.translation_support_title>div:nth-child(1) img
    {width: 100%; height: 100%;
    object-fit: cover;}

    div.translation_support_title>p:nth-child(2)
    {width: 100%;
    font-size: 22px; font-family: bold; color: #222; line-height: 25px;}

    /*컨텐츠01*/
    div.support_criteria_contents_01
    {width: 100%;
    padding-top: 30px; padding-bottom: 30px;
    border: 1px solid #ddd; box-sizing: border-box;
    margin-bottom: 30px;}

    div.support_criteria_contents_01>div
    {width: calc(100% - 60px);
    margin: 0 auto;}

    div.support_criteria_contents_01>div>p
    {width: calc(100% - 20px);
    margin-left: 20px;
    line-height: 25px; color: #555;
    word-break: keep-all;
    position: relative;}

    div.support_criteria_contents_01>div>p::before
    {content: "-";
    width: 15px;
    margin-right: 5px;
    display: block;
    position: absolute;
    top: 0; left: -20px;}

    /*컨텐츠 02*/
    ul.support_criteria_contents_02
    {width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    border-top: 1px solid #222; box-sizing: border-box;}

    ul.support_criteria_contents_02>li
    {padding-top: 20px; padding-bottom: 20px;
    border-bottom: 1px solid #ddd; box-sizing: border-box;}

    ul.support_criteria_contents_02>li:nth-child(odd)
    {width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7fcff;
    border-right: 1px solid #ddd; box-sizing: border-box;}

    ul.support_criteria_contents_02>li:nth-child(even)
    {width: calc(100% - 150px);}

    ul.support_criteria_contents_02>li>p
    {width: calc(100% - 20px);
    margin: 0 auto;
    word-break: keep-all;
    word-wrap: break-word;
    color: #555;
    line-height: 25px;}

    ul.support_criteria_contents_02>li:nth-child(odd)>p
    {text-align: center; font-family: 'min_bold'; color: #333;}

    
   
    /*가격표*/
    div.translation_detaile_pridce_ex
    {width: 100%;
    margin-bottom: 50px;}

    /*타이틀*/
    div.translation_detaile_pridce_title
    {width: 100%;
    margin-bottom: 30px;}

    div.translation_detaile_pridce_title>div:nth-child(1)
    {width: 30px; height: 30px;
    margin-bottom: 10px;}

    div.translation_detaile_pridce_title>div:nth-child(1) img
    {width: 100%; height: 100%;
    object-fit: cover;}

    div.translation_detaile_pridce_title>p:nth-child(2)
    {width: 100%;
    font-size: 22px; font-family: bold; color: #222; line-height: 25px;}
    

    /*가격표*/
    ul.translation_detaile_pridce_contetns_title
    {width: 100%;
    overflow: hidden;}

    ul.translation_detaile_pridce_contetns_title>li
    {width: 50%;
    float: left;
    padding-top: 15px; padding-bottom: 15px;
    background-color: #f7fcff;
    border-top: 1px solid #222; border-bottom: 1px solid #ddd;
    box-sizing: border-box;}

    ul.translation_detaile_pridce_contetns_title>li:nth-child(1)
    {border-right: 1px solid #ddd; box-sizing: border-box;}

    ul.translation_detaile_pridce_contetns_title>li>p
    {width: calc(100% - 30px);
    margin: 0 auto;
    text-align: center;
    font-family: 'min_bold'; color: #222; line-height: 20px;}

    ul.translation_detaile_pridce_contetns
    {width: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;}

    ul.translation_detaile_pridce_contetns>li
    {border-bottom: 1px solid #ddd; box-sizing: border-box;}

    ul.translation_detaile_pridce_contetns>li:nth-child(odd)
    {width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd; box-sizing: border-box;}

    ul.translation_detaile_pridce_contetns>li:nth-child(odd)>p
    {color: #222; line-height: 25px;}

    ul.translation_detaile_pridce_contetns>li:nth-child(even)
    {width: 50%;
    padding-top: 15px; padding-bottom: 15px;}

    ul.translation_detaile_pridce_contetns>li:nth-child(even)>div
    {width: calc(100% - 30px);
    margin: 0 auto;}

    ul.translation_detaile_pridce_contetns>li:nth-child(even)>div>p
    {word-break: keep-all;}

    ul.translation_detaile_pridce_contetns>li:nth-child(even)>div>p:nth-child(1)
    {width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: 'min_bold'; color: red;
    line-height: 25px;
    margin-bottom: 5px;}

    ul.translation_detaile_pridce_contetns>li:nth-child(even)>div>p:nth-child(1)>span
    {font-size: 15px;
    font-family: 'Pretendard';}

    ul.translation_detaile_pridce_contetns>li:nth-child(even)>div>p:nth-child(2)
    {width: 100%;
    text-align: center; font-size: 15px;
    line-height: 25px;
    color: #555;}

    /*방법 및 다운로드*/
    div.translation_how_to_ex
    {width: 100%;
    margin-bottom: 100px;}
    
    /*방법 타이틀*/
    div.how_to_title
    {width: 100%;
    margin-bottom: 30px;}

    div.how_to_title>div:nth-child(1)
    {width: 30px; height: 30px;
    margin-bottom: 10px;}

    div.how_to_title>div:nth-child(1) img
    {width: 100%; height: 100%;
    object-fit: cover;}

    div.how_to_title>p:nth-child(2)
    {width: 100%;
    font-size: 22px; font-family: bold; color: #222; line-height: 25px;}

    /*컨텐츠01*/
    div.how_to_contents_01
    {width: 100%;
    margin-bottom: 30px;}

    div.how_to_contents_01>p
    {width: calc(100% - 26px);
    margin-left: 26px;
    line-height: 25px; color: #222;
    word-break: keep-all;
    position: relative;}

    div.how_to_contents_01>p:nth-child(1):before
    {content: "(1)";
    width: 16px;
    margin-right: 10px;
    display: block;
    position: absolute;
    top: 0; left: -26px;}

    div.how_to_contents_01>p:nth-child(2):before
    {content: "(2)";
    width: 16px;
    margin-right: 10px;
    display: block;
    position: absolute;
    top: 0; left: -26px;}

    div.how_to_contents_01>p:nth-child(2)>span
    {color: #1f4e79; font-family: 'min_bold';}

    /*컨텐츠02*/
    div.how_to_contents_02
    {width: 100%;
    padding-top: 30px; padding-bottom: 30px;
    border: 1px solid #ddd; box-sizing: border-box;
    margin-bottom: 30px;}

    div.how_to_contents_02>div
    {width: calc(100% - 60px);
    margin: 0 auto;}

    div.how_to_contents_02>div>p
    {width: calc(100% - 20px);
    margin-left: 20px;
    line-height: 25px; color: #555;
    word-break: keep-all;
    position: relative;}

    div.how_to_contents_02>div>p::before
    {content: "-";
    width: 15px;
    margin-right: 5px;
    display: block;
    position: absolute;
    top: 0; left: -20px;}

    div.translation_download_box
    {width: 100%;
    overflow: hidden;}

    a.interpreter_download_btn
    {width: fit-content;
    padding: 10px;
    padding-left: 15px; padding-right: 15px;
    display: block;
    border-radius: 5px;
    background-color: red;
    float: right;
    transition: all 0.3s;}

    a.interpreter_download_btn>p
    {line-height: 25px;
    color: #fff;
    font-size: 15px;}

    a.interpreter_download_btn:hover {background-color: rgb(126, 1, 1);}

    /*버튼 박스*/
    div.detaile_btn_ex
    {width: fit-content;
    margin: 0 auto;
    overflow: hidden;}

    /*버튼*/
    a.send_email
    {width: 300px; height: 50px;
    border-radius: 5px;
    float: left;
    margin-right: 20px;
    background-color: #51b8ff;
    display: block;
    transition: all 0.3s;}

    a.send_email>p
    {text-align: center;
    color: #fff; line-height: 50px;}

    a.send_email:hover
    {background-color: #1f4e79;}

    /*목록*/
    a.cars_menu_btn
    {width: 300px; height: 50px;
    border-radius: 5px;
    background-color: #ccc;
    display: block;
    float: left;
    transition: all 0.3s;}

    a.cars_menu_btn>p
    {width: 100%;
    transition: all 0.3s;
    text-align: center; line-height: 50px; color: #222;}

    a.cars_menu_btn:hover
    {background-color: #222;}

    a.cars_menu_btn:hover>p
    {color: #fff;}

   

  
}

@media all and (min-width: 769px) and (max-width: 1279px)
{
    /*비주얼배너*/
    div.visual_sub_banner
    {margin-top: 0;}

}

@media all and (min-width : 769px) and (max-width: 1024px)
{
    /*이미지*/
    div.translation_detaile_contents_title_img_box
    {width: 35%; height: 0;
    padding-bottom: 35%;
    border-radius: 5px;
    margin-right: 3%;
    position: relative;
    overflow: hidden;}

    div.translation_detaile_contents_title_img_box img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;}

     /*글*/
    div.translation_detaile_contents_title_txt_box
    {width: 62%;
    overflow: hidden;}

    /*설명*/
    p.translation_contents_introduction
    {width: 100%;
    font-size: 15px; color: #555; line-height: 20px;
    margin-bottom: 20px;
    word-break: keep-all;}

    /*사용가능 언어*/
    div.available_languages_ex
    {width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    overflow: hidden;}
}

@media all and (max-width : 768px)
{
    /*비주얼베너*/
    div.visual_sub_banner
    {width: 100%; height: 250px;
    overflow: hidden;
    position: relative;}

    div.visual_sub_banner img
    {width: 100%; height: 100%;
    object-fit: cover;
    transition: all 2s;
    transform: scale(1.2);}

    p.visual_sub_text
    {width: 100%;
    position: absolute;
    top: calc(50% - 20px); left: 0;
    text-align: center;
    opacity: 0;
    transition: all 2s;
    font-family: bold; color: #fff;
    font-size: 32px; line-height: 40px;}

    /*루트*/
    div.nav_ex
    {width: 100%;
    background-color: #51b8ff;}

    nav.nav_box
    {width: 90%;
    margin: 0 auto;}

    nav.nav_box>ul
    {width: 100%;
    overflow: hidden;}

    nav.nav_box>ul>li
    {float: left;}

    nav.nav_box>ul>li:nth-child(1)
    {width: 20px; height: 20px;
    margin-top: 10px; margin-bottom: 10px;
    margin-right: 10px;}

    nav.nav_box>ul>li:nth-child(1)>a img
    {width: 100%; height: 100%;
    object-fit: cover;}

    nav.nav_box>ul>li:nth-child(2)
    {width: fit-content;
    margin-right: 10px;}

    nav.nav_box>ul>li:nth-child(2)>p
    {font-size: 15px; line-height: 40px; color: #fff;}

    nav.nav_box>ul>li:nth-child(3)
    {width: fit-content;
    max-width: calc(100% - 50px);}

    nav.nav_box>ul>li:nth-child(3)>a>p
    {font-size: 15px; line-height: 40px; 
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

    /*전체 박스*/
    div.translation_detaile_ex
    {width: 90%;
    margin: 50px auto;
    margin-bottom: 80px;}

    /*타이틀*/
    div.translation_detaile_title
    {width: 100%;
    padding-bottom: 30px; margin-bottom: 30px;
    border-bottom: 1px solid #222; box-sizing: border-box;}

    div.translation_detaile_title>p:nth-child(1)
    {width: 100%;
    font-family: 'min_bold'; color: #51b8ff; line-height: 20px;
    word-break: keep-all; font-size: 15px;
    margin-bottom: 5px;}

    div.translation_detaile_title>p:nth-child(2)
    {width: 100%;
    word-break: keep-all;
    font-size: 25px; font-family: bold; color: #222; line-height: 30px;}

    /*전체 상품*/
    div.translation_detaile_contents_ex
    {width: 100%;}

    div.translation_detaile_contents_title_ex
    {width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 30px; margin-bottom: 30px;
    overflow: hidden;
    border-bottom: 1px solid #ddd; box-sizing: border-box;}

    /*이미지*/
    div.translation_detaile_contents_title_img_box
    {width: 45%; height: 0;
    padding-bottom: 45%;
    margin-right: 2%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;}

    div.translation_detaile_contents_title_img_box img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;}

     /*글*/
    div.translation_detaile_contents_title_txt_box
    {width: 53%;}

     /*사용가능 언어*/
    div.available_languages_ex
    {width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;}
    
    div.available_languages_ex>p
    {width: fit-content;
    padding-left: 5px; padding-right: 5px;
    font-size: 14px;
    margin-right: 10px; line-height: 25px;
    margin-bottom: 10px;
    word-break: break-all;}

    div.available_languages_ex>p:last-child
    {margin-right: 0;}

    p.available_languages_e
    {border: 1px solid #793FDF; box-sizing: border-box;
    color: #793FDF;}

    p.available_languages_j
    {border: 1px solid #7091F5; box-sizing: border-box;
    color: #7091F5;}

    p.available_languages_c
    {border: 1px solid #BB2525; box-sizing: border-box;
    color: #BB2525;}

    p.available_languages_r
    {border: 1px solid #EA1179; box-sizing: border-box;
    color: #EA1179;}

    p.available_languages_m
    {border: 1px solid #3F2E3E; box-sizing: border-box;
    color: #3F2E3E;}

    p.available_languages_v
    {border: 1px solid #FF6666; box-sizing: border-box;
    color: #FF6666;}

    /*설명*/
    p.translation_contents_introduction
    {width: 100%;
    font-size: 15px; color: #555; line-height: 20px;
    margin-bottom: 10px;
    word-break: keep-all;}

    /*가격*/
    div.translation_contents_pay_box
    {width: 100%;
    margin-bottom: 10px;
    overflow: hidden;}

    div.translation_contents_pay_box>div
    {width: fit-content;
    max-width: 100%;
    display: flex;
    align-items: center;
    float: right;}

    div.translation_contents_pay_box>div>p:nth-child(1)
    {width: 61px;
    margin-right: 10px;
    color: red; line-height: 25px;
    font-size: 15px;}

    div.translation_contents_pay_box>div>p:nth-child(2)
    {width: fit-content;
    max-width: calc(100% - 71px);
    color: red;
    font-size: 18px; line-height: 25px; 
    font-family: bold; color: red;}

    div.translation_contents_pay_box>div>p:nth-child(2)>span
    {font-family: 'Pretendard';
    font-size: 14px;}

    
    /*지원 자격*/
    div.translation_support_ex
    {width: 100%;
    margin-bottom: 50px;}

    /*지원 자격 타이틀*/
    div.translation_support_title
    {width: 100%;
    margin-bottom: 15px;}

    div.translation_support_title>div:nth-child(1)
    {width: 30px; height: 30px;
    margin: 0 auto;
    margin-bottom: 10px;}

    div.translation_support_title>div:nth-child(1) img
    {width: 100%; height: 100%;
    object-fit: cover;}

    div.translation_support_title>p:nth-child(2)
    {width: 100%;
    text-align: center;
    font-size: 20px; font-family: bold; color: #222; line-height: 25px;}

    div.support_criteria_contents_01
    {width: 100%;
    border: 1px solid #ddd; box-sizing: border-box;
    padding-top: 5%; padding-bottom: 5%;
    margin-bottom: 20px;}

    div.support_criteria_contents_01>div
    {width: 90%;
    margin: 0 auto;}

    div.support_criteria_contents_01>div>p
    {width: calc(100% - 20px);
    margin-left: 20px;
    position: relative;
    color: #555;
    word-break: keep-all;
    font-size: 15px; line-height: 25px;}

    div.support_criteria_contents_01>div>p::before
    {content: "-";
    width: 15px;
    margin-right: 5px;
    position: absolute;
    top: 0; left: -20px;}

    /*지원기준*/
    ul.support_criteria_contents_02
    {width: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    border-top: 1px solid #222; box-sizing: border-box;}

    ul.support_criteria_contents_02>li
    {border-bottom: 1px solid #ddd; box-sizing: border-box;}

    ul.support_criteria_contents_02>li:nth-child(odd)
    {width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd; box-sizing: border-box;
    background-color: #f7fcff;}

    ul.support_criteria_contents_02>li:nth-child(odd)>p
    {width: 90%;
    margin: 0 auto;
    font-size: 15px;
    text-align: center; font-family: 'min_bold';
    line-height: 22px;
    word-break: keep-all;
    word-wrap: break-word;}

    ul.support_criteria_contents_02>li:nth-child(even)
    {width: calc(100% - 110px);
    padding-top: 2.5%; padding-bottom: 2.5%;}

    ul.support_criteria_contents_02>li:nth-child(even)>p
    {width: 95%;
    margin: 0 auto;
    word-break: keep-all;
    font-size: 15px; line-height: 22px; color: #555;}

   
    

    /*가격표*/
    div.translation_detaile_pridce_ex
    {width: 100%;
    margin-bottom: 50px;}

    /*가격 타이틀*/
    div.translation_detaile_pridce_title
    {width: 100%;
    margin-bottom: 15px;}

    div.translation_detaile_pridce_title>div:nth-child(1)
    {width: 30px; height: 30px;
    margin: 0 auto;
    margin-bottom: 10px;}

    div.translation_detaile_pridce_title>div:nth-child(1) img
    {width: 100%; height: 100%;
    object-fit: cover;}

    div.translation_detaile_pridce_title>p:nth-child(2)
    {width: 100%;
    text-align: center;
    font-size: 20px; font-family: bold; color: #222; line-height: 25px;}
    
    /*가격 콘텐츠*/
    ul.translation_detaile_pridce_contetns_title
    {width: 100%;
    overflow: hidden;
    border-top: 1px solid #222; border-bottom: 1px solid #ddd;
    box-sizing: border-box;}

    ul.translation_detaile_pridce_contetns_title>li
    {width: 50%;
    float: left;
    background-color: #f7fcff;
    padding-top: 10px; padding-bottom: 10px;}

    ul.translation_detaile_pridce_contetns_title>li:nth-child(1)
    {border-right: 1px solid #ddd; box-sizing: border-box;}

    ul.translation_detaile_pridce_contetns_title>li>p
    {width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 15px; font-family: bold; color: #222; line-height: 25px;}

    ul.translation_detaile_pridce_contetns
    {width: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;}

    ul.translation_detaile_pridce_contetns>li
    {border-bottom: 1px solid #ddd; box-sizing: border-box;}

    ul.translation_detaile_pridce_contetns>li:nth-child(odd)
    {width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd; box-sizing: border-box;}

    ul.translation_detaile_pridce_contetns>li:nth-child(odd)>p
    {width: 90%;
    margin: 0 auto;
    text-align: center; line-height: 25px;
    font-size: 15px; color: #222;}

    ul.translation_detaile_pridce_contetns>li:nth-child(even)
    {width: 50%;}

    ul.translation_detaile_pridce_contetns>li:nth-child(even)>div
    {width: 90%;
    margin: 0 auto;
    padding-top: 5%; padding-bottom: 5%;}

    ul.translation_detaile_pridce_contetns>li:nth-child(even)>div>p:nth-child(1)
    {width: 100%;
    text-align: center;
    line-height: 25px; word-break: keep-all;
    color: red; font-family: 'min_bold';}

    ul.translation_detaile_pridce_contetns>li:nth-child(even)>div>p:nth-child(1)>span
    {font-size: 14px; font-family: 'Pretendard';}

    ul.translation_detaile_pridce_contetns>li:nth-child(even)>div>p:nth-child(2)
    {width: 100%;
    color: #555; line-height: 20px;
    word-wrap: break-word;
    word-break: keep-all; font-size: 14px; text-align: center;}



    /*지원방법*/
    div.translation_how_to_ex
    {width: 100%;
    margin-bottom: 80px;}

    /*지원방법 타이틀*/
    div.how_to_title
    {width: 100%;
    margin-bottom: 15px;}

    div.how_to_title>div:nth-child(1)
    {width: 30px; height: 30px;
    margin: 0 auto;
    margin-bottom: 10px;}

    div.how_to_title>div:nth-child(1) img
    {width: 100%; height: 100%;
    object-fit: cover;}

    div.how_to_title>p:nth-child(2)
    {width: 100%;
    text-align: center;
    font-size: 20px; font-family: bold; color: #222; line-height: 25px;}

    /*지원방법 글 01*/
    div.how_to_contents_01
    {width: 100%;
    margin-bottom: 20px;}

    div.how_to_contents_01>p
    {width: calc(100% - 20px);
    margin-left: 20px;
    position: relative;
    color: #222;
    font-size: 15px; line-height: 25px;}

    div.how_to_contents_01>p:nth-child(2)>span {color: #1f4e79; font-family: 'min_bold';}

    div.how_to_contents_01>p:nth-child(1):before
    {width: 15px;
    margin-right: 5px;
    position: absolute;
    top: 0; left: -20px;
    content: "1)";}

    div.how_to_contents_01>p:nth-child(2):before
    {width: 15px;
    margin-right: 5px;
    position: absolute;
    top: 0; left: -20px;
    content: "2)";}

    /*지원방법 글 02*/
    div.how_to_contents_02
    {width: 100%;
    border: 1px solid #ddd; box-sizing: border-box;
    padding-top: 5%; padding-bottom: 5%;
    margin-bottom: 20px;}

    div.how_to_contents_02>div
    {width: 90%;
    margin: 0 auto;}

    div.how_to_contents_02>div>p
    {width: calc(100% - 20px);
    margin-left: 20px;
    position: relative;
    color: #555;
    word-break: keep-all;
    font-size: 15px; line-height: 25px;}

    div.how_to_contents_02>div>p::before
    {content: "-";
    width: 15px;
    margin-right: 5px;
    position: absolute;
    top: 0; left: -20px;}

    /*다운로드*/
    div.translation_download_box
    {width: 100%;
    overflow: hidden;}

    a.interpreter_download_btn
    {display: block;
    width: fit-content;
    padding: 10px;
    padding-left: 15px; padding-right: 15px;
    border-radius: 5px;
    background-color: red;
    float: right;}

    a.interpreter_download_btn>p
    {line-height: 25px;
    color: #fff;
    font-size: 15px;}

    /*버튼 박스*/
    div.detaile_btn_ex
    {width: 100%;
    overflow: hidden;}

    a.send_email
    {width: 49%; height: 50px;
    margin-right: 2%;
    border-radius: 5px;
    float: left;
    background-color: #51b8ff;
    display: block;
    transition: all 0.3s;}

    a.send_email>p
    {text-align: center;
    color: #fff; line-height: 50px;}

    a.restaurant_menu_btn
    {width: 49%; height: 50px;
    border-radius: 5px;
    background-color: #222;
    display: block;
    float: left;}

    a.cars_menu_btn
    {width: 49%; height: 50px;
    border-radius: 5px;
    background-color: #222;
    display: block;
    float: left;}

    a.cars_menu_btn>p
    {text-align: center; font-size: 15px;
    color: #fff; line-height: 50px;}


  
   

}

@media all and (max-width: 600px)
{
    /*비주얼배너*/
    div.visual_sub_banner
    {width: 100%; height: 200px;
    overflow: hidden;
    position: relative;}

    /*비주얼 배너*/
    div.visual_sub_banner img
    {width: 100%; height: 100%;
    object-fit: cover;
    transition: all 2s;
    transform: scale(1.2);}

    p.visual_sub_text
    {width: 90%;
    position: absolute;
    top: calc(50% + 5px); left: 5%;
    text-align: center;
    opacity: 0;
    transition: all 2s;
    word-break: keep-all;
    font-family: bold; color: #fff;
    font-size: 24px; line-height: 30px;}
    
     /*이미지*/
    div.translation_detaile_contents_title_img_box
    {width: 80%; height: 0;
    padding-bottom: 80%;
    margin-right: 0%;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-bottom: 5%;}

    div.translation_detaile_contents_title_img_box img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;}

     /*글*/
    div.translation_detaile_contents_title_txt_box
    {width: 100%;}

    /*설명*/
    p.translation_contents_introduction
    {font-size: 14px;}

    /*가격*/
    div.translation_contents_pay_box
    {margin-bottom: 20px;}
    
    /*선택 박스*/
    #translation_contents_select_language, #translation_contents_pay_select
    {height: 40px;
    font-size: 15px;}

    /*지원자격*/
    ul.support_criteria_contents_02>li:nth-child(odd)
    {width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd; box-sizing: border-box;
    background-color: #f7fcff;}

    ul.support_criteria_contents_02>li:nth-child(odd)>p
    {width: 90%;
    margin: 0 auto;
    font-size: 14px;
    text-align: center; font-family: 'min_bold';
    line-height: 20px;
    word-break: keep-all;
    word-wrap: break-word;}

    ul.support_criteria_contents_02>li:nth-child(even)
    {width: calc(100% - 100px);
    padding-top: 5%; padding-bottom: 5%;}

    ul.support_criteria_contents_02>li:nth-child(even)>p
    {width: 90%;
    margin: 0 auto;
    word-break: keep-all;
    font-size: 15px; line-height: 22px; color: #555;}

    /*다운로드*/
    a.interpreter_download_btn
    {width: 100%;
    padding: 10px;
    padding-left: 0; padding-right: 0;
    display: block;
    border-radius: 5px;
    background-color: red;
    float: inherit;}

    a.interpreter_download_btn>p
    {text-align: center;}


    /*버튼 박스*/
    div.detaile_btn_ex
    {width: 100%;
    overflow: hidden;}

    a.send_email
    {width: 100%; height: 50px;
    margin-right: 0;
    border-radius: 5px;
    float: inherit;
    background-color: #51b8ff;
    display: block;
    transition: all 0.3s;
    margin-bottom: 10px;}

    a.send_email>p
    {text-align: center;
    color: #fff; line-height: 50px;
    font-size: 15px;}

    a.restaurant_menu_btn
    {width: 100%; height: 50px;
    border-radius: 5px;
    background-color: #222;
    display: block;
    float: inherit;}

    a.cars_menu_btn
    {width: 100%; height: 50px;
    border-radius: 5px;
    background-color: #222;
    display: block;
    float: inherit;}

    a.cars_menu_btn>p
    {text-align: center; font-size: 15px;
    color: #fff; line-height: 50px;}




}