* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none;}
img {display: block;}

*::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'min_bold';
    font-weight: 600;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'bold';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf') format("truetype");
    font-display: swap;
}

body {font-family: 'Pretendard'; line-height: 16px;}

p {margin-bottom: 0;}

ul {margin: 0; padding: 0;}

input:not([type]), input[type="text"], input[type="password"], 
input[type="date"], input[type="datetime"], 
input[type="datetime-local"], input[type="month"], 
input[type="week"], input[type="email"], input[type="number"], 
input[type="search"], input[type="tel"], input[type="time"], 
input[type="url"], input[type="color"], textarea
{box-shadow: none;
background-color: #fff;
padding: 0;
margin-bottom: 0;
outline: none;}

input[type="checkbox"]
{margin-bottom: 0;}

input[type="checkbox"]+label, input[type="radio"]+label 
{margin: 0;}

ul li ol
{margin: 0; padding: 0;}

ul li ol ul
{margin: 0; padding: 0;}

ul li ul
{margin: 0; padding: 0;}

@media all and (min-width: 1420px)
{   
    /*개인정보처리방침*/
    div.privacy_policy_ex
    {width: 1400px;
    margin: 150px auto;
    margin-top: 239.44px;}

    div.privacy_policy_title
    {width: 100%;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ddd; box-sizing: border-box;}

    div.privacy_policy_title>p
    {width: 100%;
    text-align: center;
    font-size: 28px; font-family: bold; color: #000; line-height: 30px;}

    /*개인정보처리방침 타이틀*/
    div.privacy_policy_contents_title
    {width: 100%;
    margin-bottom: 30px;}

    div.privacy_policy_contents_title>p
    {width: 100%;
    line-height: 25px; color: #333;
    word-break: keep-all;}

    div.privacy_policy_contents_title>p:nth-child(1)
    {margin-bottom: 10px;}

    div.privacy_policy_ex>ul
    {width: 100%;
    margin-bottom: 30px;}

    div.privacy_policy_ex>ul:last-child
    {margin-bottom: 0;}
    
    ul.privacy_policy_contents>li>p:nth-child(1)
    {width: 100%;
    word-break: keep-all;
    font-size: 18px; font-family: bold; color: #000; line-height: 25px;}

    ul.privacy_policy_contents>li>ol
    {width: 100%;}

    ul.privacy_policy_contents>li>ol>li
    {width: 100%;
    margin-top: 15px;}

    ul.privacy_policy_contents>li>ol>li>p:nth-child(1)
    {width: 100%;
    line-height: 25px; color: #333; word-break: keep-all;}

    ul.privacy_policy_contents>li>ol>li>ol
    {width: 100%;
    margin-top: 5px;}

    ul.privacy_policy_contents>li>ol>li>ol>li
    {width: calc(100% - 15px);
    margin-left: 15px;
    list-style: disc;}

    ul.privacy_policy_contents>li>ol>li>ol>li::marker
    {font-size: 15px; line-height: 25px; color: #777;}

    ul.privacy_policy_contents>li>ol>li>ol>li>p
    {width: 100%;
    word-break: keep-all;
    color: #777; line-height: 25px;}

    /*이용자 및 법정 대리인의 권리와 그 행사 방법*/
    ul.privacy_policy_contents_01>li>p:nth-child(1)
    {width: 100%;
    word-break: keep-all;
    font-size: 18px; font-family: bold; color: #000; line-height: 25px;}

    ul.privacy_policy_contents_01>li>ol
    {width: 100%;
    margin-top: 15px;}

    ul.privacy_policy_contents_01>li>ol>li
    {width: calc(100% - 15px);
    margin-left: 15px;
    margin-top: 0;
    list-style: disc;}
    
    ul.privacy_policy_contents_01>li>ol>li::marker
    {color: #333; line-height: 25px;}

    ul.privacy_policy_contents_01>li>ol>li>p
    {width: 100%;
    line-height: 30px; color: #333;
    word-break: keep-all;}

    /*개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항*/
    ul.privacy_policy_contents_02>li>p:nth-child(1)
    {width: 100%;
    word-break: keep-all;
    font-size: 18px; font-family: bold; color: #000; line-height: 25px;}

    ul.privacy_policy_contents_02>li>ol
    {width: 100%;
    margin-top: 15px;}

    ul.privacy_policy_contents_02>li>ol>li
    {width: 100%;}

    ul.privacy_policy_contents_02>li>ol>li>p
    {width: 100%;
    color: #333; line-height: 25px; word-break: keep-all;}

    ul.privacy_policy_contents_02>li>ol>li>ol
    {width: 100%;
    margin-top: 10px;}

    ul.privacy_policy_contents_02>li>ol>li>ol>li:nth-child(1)
    {margin-bottom: 10px;}

    ul.privacy_policy_contents_02>li>ol>li>ol>li
    {width: calc(100% - 15px);
    margin-left: 15px;
    list-style: decimal;}

    ul.privacy_policy_contents_02>li>ol>li>ol>li::marker
    {font-size: 15px; color: #777; line-height: 25px;}

    ul.privacy_policy_contents_02>li>ol>li>ol>li>p
    {width: 100%;
    word-break: keep-all;
    font-size: 15px; line-height: 25px; color: #777;}

    ul.privacy_policy_contents_02>li>ol>li>ol>li>ol
    {width: 100%;
    margin-top: 5px;}

    ul.privacy_policy_contents_02>li>ol>li>ol>li>ol>li
    {width: calc(100% - 15px);
    margin-left: 15px;
    list-style: disc;}

    ul.privacy_policy_contents_02>li>ol>li>ol>li>ol>li::marker
    {font-size: 15px; color: #777; line-height: 25px;}

    ul.privacy_policy_contents_02>li>ol>li>ol>li>ol>li>p
    {width: 100%;
    font-size: 15px; line-height: 25px; color: #777;}

    /*개인정보에 관한 민원 서비스*/
    ul.privacy_policy_contents_03>li>p:nth-child(1)
    {width: 100%;
    word-break: keep-all;
    font-size: 18px; font-family: bold; color: #000; line-height: 25px;}

    ul.privacy_policy_contents_03>li>ul
    {width: 100%;
    margin-top: 15px;}

    ul.privacy_policy_contents_03>li>ul>li:nth-child(1)
    {margin-bottom: 10px;}

    ul.privacy_policy_contents_03>li>ul>li
    {width: 100%;}

    ul.privacy_policy_contents_03>li>ul>li>p:nth-child(1)
    {width: 100%;
    word-break: keep-all;
    color: #333;
    line-height: 25px;}

    ul.privacy_policy_contents_03>li>ul>li>ol
    {width: 100%;
    margin-top: 5px;}

    ul.privacy_policy_contents_03>li>ul>li>ol>li
    {width: calc(100% - 15px);
    margin-left: 15px;
    list-style: disc;}

    ul.privacy_policy_contents_03>li>ul>li>ol>li::marker
    {font-size: 15px; line-height: 25px; color: #777;}

    ul.privacy_policy_contents_03>li>ul>li>ol>li>p
    {width: 100%;
    font-size: 15px; word-break: keep-all;
    line-height: 25px; color: #777;}


}

@media all and (min-width: 769px) and (max-width : 1419px)
{
    /*개인정보처리방침*/
    div.privacy_policy_ex
    {width: 90%;
    margin: 150px auto;
    margin-top: 239.44px;}

    div.privacy_policy_title
    {width: 100%;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ddd; box-sizing: border-box;}

    div.privacy_policy_title>p
    {width: 100%;
    text-align: center;
    font-size: 28px; font-family: bold; color: #000; line-height: 30px;}

    /*개인정보처리방침 타이틀*/
    div.privacy_policy_contents_title
    {width: 100%;
    margin-bottom: 30px;}

    div.privacy_policy_contents_title>p
    {width: 100%;
    line-height: 25px; color: #333;
    word-break: keep-all;}

    div.privacy_policy_contents_title>p:nth-child(1)
    {margin-bottom: 10px;}

    div.privacy_policy_ex>ul
    {width: 100%;
    margin-bottom: 30px;}

    div.privacy_policy_ex>ul:last-child
    {margin-bottom: 0;}
    
    ul.privacy_policy_contents>li>p:nth-child(1)
    {width: 100%;
    word-break: keep-all;
    font-size: 18px; font-family: bold; color: #000; line-height: 25px;}

    ul.privacy_policy_contents>li>ol
    {width: 100%;}

    ul.privacy_policy_contents>li>ol>li
    {width: 100%;
    margin-top: 15px;}

    ul.privacy_policy_contents>li>ol>li>p:nth-child(1)
    {width: 100%;
    line-height: 25px; color: #333; word-break: keep-all;}

    ul.privacy_policy_contents>li>ol>li>ol
    {width: 100%;
    margin-top: 5px;}

    ul.privacy_policy_contents>li>ol>li>ol>li
    {width: calc(100% - 15px);
    margin-left: 15px;
    list-style: disc;}

    ul.privacy_policy_contents>li>ol>li>ol>li::marker
    {font-size: 15px; line-height: 25px; color: #777;}

    ul.privacy_policy_contents>li>ol>li>ol>li>p
    {width: 100%;
    word-break: keep-all;
    color: #777; line-height: 25px;}

    /*이용자 및 법정 대리인의 권리와 그 행사 방법*/
    ul.privacy_policy_contents_01>li>p:nth-child(1)
    {width: 100%;
    word-break: keep-all;
    font-size: 18px; font-family: bold; color: #000; line-height: 25px;}

    ul.privacy_policy_contents_01>li>ol
    {width: 100%;
    margin-top: 15px;}

    ul.privacy_policy_contents_01>li>ol>li
    {width: calc(100% - 15px);
    margin-left: 15px;
    margin-top: 0;
    list-style: disc;}
    
    ul.privacy_policy_contents_01>li>ol>li::marker
    {color: #333; line-height: 25px;}

    ul.privacy_policy_contents_01>li>ol>li>p
    {width: 100%;
    line-height: 30px; color: #333;
    word-break: keep-all;}

    /*개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항*/
    ul.privacy_policy_contents_02>li>p:nth-child(1)
    {width: 100%;
    word-break: keep-all;
    font-size: 18px; font-family: bold; color: #000; line-height: 25px;}

    ul.privacy_policy_contents_02>li>ol
    {width: 100%;
    margin-top: 15px;}

    ul.privacy_policy_contents_02>li>ol>li
    {width: 100%;}

    ul.privacy_policy_contents_02>li>ol>li>p
    {width: 100%;
    color: #333; line-height: 25px; word-break: keep-all;}

    ul.privacy_policy_contents_02>li>ol>li>ol
    {width: 100%;
    margin-top: 10px;}

    ul.privacy_policy_contents_02>li>ol>li>ol>li:nth-child(1)
    {margin-bottom: 10px;}

    ul.privacy_policy_contents_02>li>ol>li>ol>li
    {width: calc(100% - 15px);
    margin-left: 15px;
    list-style: decimal;}

    ul.privacy_policy_contents_02>li>ol>li>ol>li::marker
    {font-size: 15px; color: #777; line-height: 25px;}

    ul.privacy_policy_contents_02>li>ol>li>ol>li>p
    {width: 100%;
    word-break: keep-all;
    font-size: 15px; line-height: 25px; color: #777;}

    ul.privacy_policy_contents_02>li>ol>li>ol>li>ol
    {width: 100%;
    margin-top: 5px;}

    ul.privacy_policy_contents_02>li>ol>li>ol>li>ol>li
    {width: calc(100% - 15px);
    margin-left: 15px;
    list-style: disc;}

    ul.privacy_policy_contents_02>li>ol>li>ol>li>ol>li::marker
    {font-size: 15px; color: #777; line-height: 25px;}

    ul.privacy_policy_contents_02>li>ol>li>ol>li>ol>li>p
    {width: 100%;
    font-size: 15px; line-height: 25px; color: #777;}

    /*개인정보에 관한 민원 서비스*/
    ul.privacy_policy_contents_03>li>p:nth-child(1)
    {width: 100%;
    word-break: keep-all;
    font-size: 18px; font-family: bold; color: #000; line-height: 25px;}

    ul.privacy_policy_contents_03>li>ul
    {width: 100%;
    margin-top: 15px;}

    ul.privacy_policy_contents_03>li>ul>li:nth-child(1)
    {margin-bottom: 10px;}

    ul.privacy_policy_contents_03>li>ul>li
    {width: 100%;}

    ul.privacy_policy_contents_03>li>ul>li>p:nth-child(1)
    {width: 100%;
    word-break: keep-all;
    color: #333;
    line-height: 25px;}

    ul.privacy_policy_contents_03>li>ul>li>ol
    {width: 100%;
    margin-top: 5px;}

    ul.privacy_policy_contents_03>li>ul>li>ol>li
    {width: calc(100% - 15px);
    margin-left: 15px;
    list-style: disc;}

    ul.privacy_policy_contents_03>li>ul>li>ol>li::marker
    {font-size: 15px; line-height: 25px; color: #777;}

    ul.privacy_policy_contents_03>li>ul>li>ol>li>p
    {width: 100%;
    font-size: 15px; word-break: keep-all;
    line-height: 25px; color: #777;}
}

@media all and (min-width: 769px) and (max-width: 1279px)
{
    /*개인정보처리방침*/
    div.privacy_policy_ex
    {width: 90%;
    margin: 150px auto;
    margin-top: 175px;}

}

@media all and (max-width: 768px)
{
    /*개인정보처리방침*/
    div.privacy_policy_ex
    {width: 90%;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 80px;}

    div.privacy_policy_title
    {width: 100%;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd; box-sizing: border-box;}

    div.privacy_policy_title>p
    {width: 90%;
    margin: 0 auto;
    text-align: center;
    word-break: keep-all;
    font-size: 22px; font-family: bold; color: #000; line-height: 30px;}

    /*콘텐츠 타이틀*/
    div.privacy_policy_contents_title
    {width: 100%;
    margin-bottom: 20px;}

    div.privacy_policy_contents_title>p
    {width: 100%;
    font-size: 15px; line-height: 25px; color: #333;
    word-break: keep-all;}

    div.privacy_policy_contents_title>p:nth-child(1)
    {margin-bottom: 10px;}

    div.privacy_policy_ex>ul
    {width: 100%;
    margin-bottom: 20px;}

    div.privacy_policy_ex>ul:last-child
    {margin-bottom: 0;}
    
    /**/
    ul.privacy_policy_contents>li
    {width: 100%;}

    ul.privacy_policy_contents>li>p:nth-child(1)
    {width: 100%;
    word-break: keep-all;
    font-family: bold; line-height: 25px; color: #000;}

    ul.privacy_policy_contents>li>ol
    {width: 100%;
    margin-top: 10px;}

    ul.privacy_policy_contents>li>ol>li
    {width: 100%;}

    ul.privacy_policy_contents>li>ol>li>p:nth-child(1)
    {width: 100%;
    font-size: 15px; color: #333; line-height: 25px;
    word-break: keep-all;}

    ul.privacy_policy_contents>li>ol>li>ol
    {width: 100%;
    margin-top: 5px;}

    ul.privacy_policy_contents>li>ol>li>ol>li
    {width: calc(100% - 15px);
    margin-left: 15px;
    list-style: disc;}

    ul.privacy_policy_contents>li>ol>li>ol>li::marker
    {font-size: 14px; color: #777; line-height: 25px;}

    ul.privacy_policy_contents>li>ol>li>ol>li>p
    {width: 100%;
    font-size: 14px; line-height: 25px; color: #777;
    word-break: keep-all;}

    /*이용자*/
    ul.privacy_policy_contents_01>li
    {width: 100%;}

    ul.privacy_policy_contents_01>li>p:nth-child(1)
    {width: 100%;
    word-break: keep-all;
    font-family: bold; line-height: 25px; color: #000;}

    ul.privacy_policy_contents_01>li>ol
    {width: 100%;
    margin-top: 10px;}

    ul.privacy_policy_contents_01>li>ol>li
    {width: calc(100% - 15px);
    margin-left: 15px;
    list-style: disc;}

    ul.privacy_policy_contents_01>li>ol>li::marker
    {font-size: 15px; line-height: 25px; color: #333;}

    ul.privacy_policy_contents_01>li>ol>li>p
    {width: 100%;
    font-size: 15px; line-height: 25px; color: #333;}

    /*자동수집, 쿠키*/
    ul.privacy_policy_contents_02>li
    {width: 100%;}

    ul.privacy_policy_contents_02>li>p:nth-child(1)
    {width: 100%;
    word-break: keep-all;
    font-family: bold; line-height: 25px; color: #000;}

    ul.privacy_policy_contents_02>li>ol
    {width: 100%;
    margin-top: 10px;}

    ul.privacy_policy_contents_02>li>ol>li
    {width: 100%;}

    ul.privacy_policy_contents_02>li>ol>li>p:nth-child(1)
    {width: 100%;
    font-size: 15px; color: #333; line-height: 25px;
    word-break: keep-all;}

    ul.privacy_policy_contents_02>li>ol>li>ol
    {width: 100%;
    margin-top: 5px;}

    ul.privacy_policy_contents_02>li>ol>li>ol>li:nth-child(1)
    {margin-bottom: 5px;}

    ul.privacy_policy_contents_02>li>ol>li>ol>li
    {width: calc(100% - 15px);
    margin-left: 15px;
    list-style: decimal;}

    ul.privacy_policy_contents_02>li>ol>li>ol>li::marker
    {font-size: 14px; line-height: 25px; color: #777;}

    ul.privacy_policy_contents_02>li>ol>li>ol>li>p:nth-child(1)
    {width: 100%;
    font-size: 14px;
    word-break: keep-all; line-height: 25px; color: #777;}

    ul.privacy_policy_contents_02>li>ol>li>ol>li>ol
    {width: 100%;}

    ul.privacy_policy_contents_02>li>ol>li>ol>li>ol>li
    {width: calc(100% - 15px);
    margin-left: 15px;
    list-style: disc;}

    ul.privacy_policy_contents_02>li>ol>li>ol>li>ol>li::marker
    {font-size: 14px; color: #777; line-height: 25px;}

    ul.privacy_policy_contents_02>li>ol>li>ol>li>ol>li>p
    {width: 100%;
    font-size: 14px; line-height: 25px; color: #777;}

    /*민원서비스*/
    ul.privacy_policy_contents_03>li
    {width: 100%;}

    ul.privacy_policy_contents_03>li>p:nth-child(1)
    {width: 100%;
    color: #333; word-break: keep-all;
    font-family: bold; line-height: 25px;}
    
    ul.privacy_policy_contents_03>li>ul
    {width: 100%;
    margin-top: 10px;}

    ul.privacy_policy_contents_03>li>ul>li
    {width: 100%;
    margin-top: 10px;}

    ul.privacy_policy_contents_03>li>ul>li>p
    {width: 100%;
    word-break: keep-all;
    color: #333;
    font-size: 15px; line-height: 25px;}

    ul.privacy_policy_contents_03>li>ul>li>ol
    {width: 100%;
    margin-top: 5px;}

    ul.privacy_policy_contents_03>li>ul>li>ol>li
    {width: calc(100% - 15px);
    margin-left: 15px;
    list-style: disc;}

    ul.privacy_policy_contents_03>li>ul>li>ol>li::marker
    {color: #777; font-size: 14px; line-height: 25px;}

    ul.privacy_policy_contents_03>li>ul>li>ol>li>p
    {width: 100%;
    word-break: keep-all;
    font-size: 14px; line-height: 25px; color: #777;}

}