* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none;}
img {display: block;}

*::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'min_bold';
    font-weight: 600;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'bold';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf') format("truetype");
    font-display: swap;
}

body {font-family: 'Pretendard'; line-height: 16px;}

p {margin-bottom: 0;}

ul {margin: 0; padding: 0;}

input:not([type]), input[type="text"], input[type="password"], 
input[type="date"], input[type="datetime"], 
input[type="datetime-local"], input[type="month"], 
input[type="week"], input[type="email"], input[type="number"], 
input[type="search"], input[type="tel"], input[type="time"], 
input[type="url"], input[type="color"], textarea
{box-shadow: none;
background-color: #fff;
padding: 0;
margin-bottom: 0;
outline: none;}

input[type="checkbox"]
{margin-bottom: 0;}

input[type="checkbox"]+label, input[type="radio"]+label 
{margin: 0;}

/*페이징버튼 제어*/
ul.pagination
{margin-left: 0;}

ul.pagination li
{height: fit-content;
margin-left: 0;
font-size: 16px;}

ul.pagination li a
{color: #222;
padding: 5px 10px;
border: none;
border-radius: 0;
text-align: center; line-height: 20px;}

.page-item:not(:first-child) .page-link
{margin-left: 0;}

/*부트스트랩 클릭시 생기는 선 삭제*/
.page-link:focus, .page-link:active 
{outline: none;
box-shadow: none;
background-color: transparent !important;}

.page-link:focus, .page-link:hover 
{background-color: transparent !important;
color: #51b8ff !important;}

.page-link:focus, .page-link:active 
{color: #51b8ff !important;
font-family: bold;}

@media all and (min-width: 1420px)
{   
    /*비주얼베너*/
    div.visual_sub_banner
    {width: 100%; height: 350px;
    margin-top: 139.44px;
    overflow: hidden;
    position: relative;}

    div.visual_sub_banner img
    {width: 100%; height: 100%;
    object-fit: cover;
    transition: all 2s;
    transform: scale(1.2);}

    p.visual_sub_text
    {width: 100%;
    position: absolute;
    top: calc(50% - 25px); left: 0;
    text-align: center;
    opacity: 0;
    transition: all 2s;
    font-family: bold; color: #fff;
    font-size: 42px; line-height: 50px;}

    /*루트*/
    div.nav_ex
    {width: 100%;
    background-color: #51b8ff;}

    nav.nav_box
    {width: 1400px;
    margin: 0 auto;}

    nav.nav_box>ul
    {width: 100%;
    overflow: hidden;}

    nav.nav_box>ul>li
    {float: left;}

    nav.nav_box>ul>li:nth-child(1)
    {width: 20px; height: 20px;
    margin-top: 10px; margin-bottom: 10px;}
    
    nav.nav_box>ul>li:nth-child(1) img
    {width: 100%; height: 100%;
    object-fit: cover;}

    nav.nav_box>ul>li>p
    {line-height: 40px;
    color: #fff;
    margin-left: 10px; margin-right: 10px;}

    nav.nav_box>ul>li>a>p
    {line-height: 40px;
    color: #fff;}

    /*장바구니*/
    div.cart_ex
    {width: 1200px;
    margin: 100px auto;
    margin-bottom: 150px;}

    div.cart_title
    {width: 100%;
    padding-bottom: 50px;
    border-bottom: 1px solid #222; box-sizing: border-box;
    margin-bottom: 30px;}

    div.cart_title>p:nth-child(1)
    {width: 100%;
    font-size: 32px; font-family: 'min_bold'; color: #222; line-height: 40px;
    margin-bottom: 10px; text-align: center;}

    div.cart_title>p:nth-child(2)
    {width: 100%;
    text-align: center;
    word-break: keep-all; line-height: 25px; color: #555;}

    /*상품이 없을 때*/
    p.no_cart_product_list
    {width: 100%;
    padding-top: 100px; padding-bottom: 100px;
    text-align: center; line-height: 20px;
    color: #333;}

    /*상품이 있을 때*/
    div.cart_product_list_ex
    {width: 100%;}

    /*전체 선택*/
    div.all_cart_chk_ex
    {width: 100%;
    overflow: hidden;
    margin-bottom: 30px;}

    div.all_cart_chk_ex>div
    {width: fit-content;
    float: right;}

    #all_cart_product_chk
    {width: 15px; height: 15px;
    margin-top: 2.5px;
    border: 1px solid #222; box-sizing: border-box;
    margin-right: 10px;
    float: left;
    outline: none;}

    div.all_cart_chk_ex>div>label
    {width: fit-content;
    display: block;
    float: right;}

    div.all_cart_chk_ex>div>label>p
    {line-height: 20px;
    font-family: 'min_bold'; color: #222;}
    
    /*리스트*/
    div.cart_product_contents_ex
    {width: 100%;
    padding-top: 20px; padding-bottom: 20px;
    border: 1px solid #ddd; box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;}

    input[type="checkbox"].cart_product_chk_box
    {width: 15px; height: 15px;
    border: 1px solid #222; box-sizing: border-box;
    margin-left: 20px; margin-bottom: 20px;
    outline: none;}

    /*작은 박스*/
    div.cart_product_contents_box
    {width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    align-items: center;}

    /*이미지*/
    div.cart_product_contents_img_box
    {width: 300px; height: 0;
    padding-bottom: 25.908%;
    border-radius: 5px;
    margin-right: 30px;
    position: relative;
    overflow: hidden;}

    div.cart_product_contents_img_box img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;}

    /*글 전체*/
    div.cart_product_contents_txt_ex
    {width: calc(100% - 330px);
    overflow: hidden;}

    div.cart_product_contents_txt_box
    {width: 100%;
    margin-bottom: 30px;}
    
    /*작은 메뉴*/
    p.cart_product_contents_main_lnb
    {width: fit-content;
    padding-left: 5px; padding-right: 5px;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 5px;}
    
    /*건강검진*/
    p.health_screeing_lnb
    {border: 1px solid #51b8ff; box-sizing: border-box;
    color: #51b8ff;}

    /*컨시어징*/
    p.concierge_servies_lnb
    {border: 1px solid #45b2b5; box-sizing: border-box;
    color: #45b2b5;}

    /*번역*/
    p.interpreter_servies_lnb
    {border: 1px solid #4567b5; box-sizing: border-box;
    color: #4567b5;}

    /*타이틀*/
    p.cart_product_contents_name_title
    {width: 100%;
    word-break: keep-all;
    font-size: 22px; font-family: bold; color: #222; line-height: 28px;
    margin-bottom: 10px;}

    /*예약 시간*/
    div.product_time_title
    {width: 100%;
    margin-bottom: 10px;
    overflow: hidden;}

    div.product_time_title>p:nth-child(1)
    {width: fit-content;
    max-width: 130px;
    float: left;
    line-height: 25px;
    color: #222; font-family: 'min_bold';
    margin-right: 10px;}

    div.product_time_title>p:nth-child(2)
    {width: fit-content;
    max-width: calc(100% - 140px);
    color: #222; line-height: 25px;
    float: left;}

    /*선택한 상품*/
    div.cart_product_sub_product_box
    {width: 100%;
    margin-bottom: 20px;}

    div.cart_product_sub_product_box>p
    {width: 100%;
    font-size: 15px; line-height: 25px;
    word-break: keep-all;
    color: #555;}

    /*가격*/
    p.cart_product_contents_pay
    {width: 100%;
    font-size: 22px; line-height: 30px; text-align: right;
    font-family: bold; color: red;}

    p.cart_product_contents_pay>span
    {font-family: 'Pretendard';
    font-size: 15px;}
    
    /*상세페이지*/
    a.cart_product_detaile_btn
    {width: 250px; height: 50px;
    border-radius: 5px;
    display: block;
    float: right;
    background-color: #51b8ff;
    transition: all 0.3s;}

    a.cart_product_detaile_btn>p
    {width: 100%;
    text-align: center; line-height: 50px; color: #fff;}

    a.cart_product_detaile_btn:hover
    {background-color: #1f4e79;}

    #cart_product_reservation
    {width: 250px; height: 50px;
    margin-left: calc(50% - 125px); margin-right: calc(50% - 125px);
    border: none; border-radius: 5px;
    background-color: #51b8ff; font-size: 16px; text-align: center;
    line-height: 50px; color: #fff;
    font-family: 'Pretendard' !important;
    transition: all 0.3s;
    margin-top: 60px;}

    #cart_product_reservation:hover
    {background-color: #1f4e79;}
}

@media all and (min-width: 769px) and (max-width : 1419px)
{   
     /*비주얼베너*/
    div.visual_sub_banner
    {width: 100%; height: 350px;
    margin-top: 139.44px;
    overflow: hidden;
    position: relative;}

    div.visual_sub_banner img
    {width: 100%; height: 100%;
    object-fit: cover;
    transition: all 2s;
    transform: scale(1.2);}

    p.visual_sub_text
    {width: 100%;
    position: absolute;
    top: calc(50% - 25px); left: 0;
    text-align: center;
    opacity: 0;
    transition: all 2s;
    font-family: bold; color: #fff;
    font-size: 42px; line-height: 50px;}

    /*루트*/
    div.nav_ex
    {width: 100%;
    background-color: #51b8ff;}

    nav.nav_box
    {width: 90%;
    margin: 0 auto;}

    nav.nav_box>ul
    {width: 100%;
    overflow: hidden;}

    nav.nav_box>ul>li
    {float: left;}

    nav.nav_box>ul>li:nth-child(1)
    {width: 20px; height: 20px;
    margin-top: 10px; margin-bottom: 10px;}
    
    nav.nav_box>ul>li:nth-child(1) img
    {width: 100%; height: 100%;
    object-fit: cover;}

    nav.nav_box>ul>li>p
    {line-height: 40px;
    color: #fff;
    margin-left: 10px; margin-right: 10px;}

    nav.nav_box>ul>li>a>p
    {line-height: 40px;
    color: #fff;}

    /*전체 박스*/
    div.cart_ex
    {width: 90%;
    margin: 100px auto;
    margin-bottom: 150px;}

    /*타이틀*/
    div.cart_title
    {width: 100%;
    padding-bottom: 50px;
    border-bottom: 1px solid #222; box-sizing: border-box;
    margin-bottom: 30px;}

    div.cart_title>p:nth-child(1)
    {width: 100%;
    font-size: 32px; font-family: 'min_bold'; color: #222; line-height: 40px;
    margin-bottom: 10px; text-align: center;}

    div.cart_title>p:nth-child(2)
    {width: 100%;
    text-align: center;
    word-break: keep-all; line-height: 25px; color: #555;}

    /*상품 없을 때*/
    p.no_cart_product_list
    {width: 100%;
    padding-top: 100px; padding-bottom: 100px;
    text-align: center; line-height: 20px;
    color: #333;}

    /*상품 있을 때*/
    div.cart_product_list_ex
    {width: 100%;}

    /*전체 선택*/
    div.all_cart_chk_ex
    {width: 100%;
    overflow: hidden;
    margin-bottom: 30px;}

    div.all_cart_chk_ex>div
    {width: fit-content;
    float: right;}

    #all_cart_product_chk
    {width: 15px; height: 15px;
    margin-top: 2.5px;
    border: 1px solid #222; box-sizing: border-box;
    margin-right: 10px;
    float: left;
    outline: none;}

    div.all_cart_chk_ex>div>label
    {width: fit-content;
    display: block;
    float: right;}

    div.all_cart_chk_ex>div>label>p
    {line-height: 20px;
    font-family: 'min_bold'; color: #222;}

    /*전체 박스*/
    div.cart_product_contents_ex
    {width: 100%;
    border: 1px solid #ddd; box-sizing: border-box;
    padding-top: 20px; padding-bottom: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;}

    input[type="checkbox"].cart_product_chk_box
    {width: 15px; height: 15px;
    border: 1px solid #222; box-sizing: border-box;
    margin-left: 20px; margin-bottom: 20px;
    outline: none;}

    /*작은 박스*/
    div.cart_product_contents_box
    {width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    align-items: center;}

    /*이미지*/
    div.cart_product_contents_img_box
    {width: 25%; height: 0;
    padding-bottom: 25%;
    border-radius: 5px;
    margin-right: 3%;
    position: relative;
    overflow: hidden;}

    div.cart_product_contents_img_box img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;}

    /*글*/
    div.cart_product_contents_txt_ex
    {width: 72%;
    overflow: hidden;}

    /*글 박스, 밑에 a 링크 마진*/
    div.cart_product_contents_txt_box
    {width: 100%;
    margin-bottom: 20px;}

    /*작은 메뉴*/
    p.cart_product_contents_main_lnb
    {width: fit-content;
    padding-left: 5px; padding-right: 5px;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 5px;}
    
    /*건강검진*/
    p.health_screeing_lnb
    {border: 1px solid #51b8ff; box-sizing: border-box;
    color: #51b8ff;}

    /*컨시어징*/
    p.concierge_servies_lnb
    {border: 1px solid #45b2b5; box-sizing: border-box;
    color: #45b2b5;}

    /*번역*/
    p.interpreter_servies_lnb
    {border: 1px solid #4567b5; box-sizing: border-box;
    color: #4567b5;}

    /*타이틀*/
    p.cart_product_contents_name_title
    {width: 100%;
    word-break: keep-all;
    font-size: 22px; font-family: bold; color: #222; line-height: 28px;
    margin-bottom: 10px;}

    /*예약 시간*/
    div.product_time_title
    {width: 100%;
    margin-bottom: 10px;
    overflow: hidden;}

    div.product_time_title>p:nth-child(1)
    {width: fit-content;
    max-width: 130px;
    float: left;
    line-height: 25px;
    color: #222; font-family: 'min_bold';
    margin-right: 10px;}

    div.product_time_title>p:nth-child(2)
    {width: fit-content;
    max-width: calc(100% - 140px);
    color: #222; line-height: 25px;
    float: left;}

    /*선택한 상품*/
    div.cart_product_sub_product_box
    {width: 100%;
    margin-bottom: 20px;}

    div.cart_product_sub_product_box>p
    {width: 100%;
    font-size: 15px; line-height: 25px;
    word-break: keep-all;
    color: #555;}

    /*가격*/
    p.cart_product_contents_pay
    {width: 100%;
    font-size: 22px; line-height: 30px; text-align: right;
    font-family: bold; color: red;}

    p.cart_product_contents_pay>span
    {font-family: 'Pretendard';
    font-size: 15px;}
    
    /*상세페이지*/
    a.cart_product_detaile_btn
    {width: 250px; height: 50px;
    border-radius: 5px;
    display: block;
    float: right;
    background-color: #51b8ff;
    transition: all 0.3s;}

    a.cart_product_detaile_btn>p
    {width: 100%;
    text-align: center; line-height: 50px; color: #fff;}

    a.cart_product_detaile_btn:hover
    {background-color: #1f4e79;}

    /*예약하기 버튼*/
    #cart_product_reservation
    {width: 250px; height: 50px;
    margin-left: calc(50% - 125px); margin-right: calc(50% - 125px);
    border: none; border-radius: 5px;
    background-color: #51b8ff; font-size: 16px; text-align: center;
    line-height: 50px; color: #fff;
    font-family: 'Pretendard' !important;
    transition: all 0.3s;
    margin-top: 60px;}

    #cart_product_reservation:hover
    {background-color: #1f4e79;}
}

@media all and (min-width: 769px) and (max-width: 1279px)
{
    /*비주얼배너*/
    div.visual_sub_banner
    {margin-top: 0;}
}


@media all and (min-width : 769px) and (max-width: 1024px)
{
    /*이미지*/
    div.cart_product_contents_img_box
    {width: 30%; height: 0;
    padding-bottom: 30%;
    border-radius: 5px;
    margin-right: 3%;
    position: relative;
    overflow: hidden;}

    div.cart_product_contents_img_box img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;}

    /*글 박스*/
    div.cart_product_contents_txt_ex
    {width: 67%;}

    /*제목*/
    p.cart_product_contents_name_title
    {width: 100%;
    font-size: 20px; line-height: 25px; font-family: bold;
    color: #222; word-break: keep-all;
    margin-bottom: 10px;}

    /*가격*/
    p.cart_product_contents_pay
    {width: 100%;
    font-size: 20px; line-height: 30px; text-align: right;
    font-family: bold; color: red;}
}

@media all and (max-width : 768px)
{   
    /*비주얼베너*/
    div.visual_sub_banner
    {width: 100%; height: 250px;
    overflow: hidden;
    position: relative;}

    div.visual_sub_banner img
    {width: 100%; height: 100%;
    object-fit: cover;
    transition: all 2s;
    transform: scale(1.2);}

    p.visual_sub_text
    {width: 100%;
    position: absolute;
    top: calc(50% - 20px); left: 0;
    text-align: center;
    opacity: 0;
    transition: all 2s;
    font-family: bold; color: #fff;
    font-size: 32px; line-height: 40px;}

    /*루트*/
    div.nav_ex
    {width: 100%;
    background-color: #51b8ff;}

    nav.nav_box
    {width: 90%;
    margin: 0 auto;}

    nav.nav_box>ul
    {width: 100%;
    overflow: hidden;}

    nav.nav_box>ul>li
    {float: left;}

    nav.nav_box>ul>li:nth-child(1)
    {width: 20px; height: 20px;
    margin-top: 10px; margin-bottom: 10px;
    margin-right: 10px;}

    nav.nav_box>ul>li:nth-child(1)>a img
    {width: 100%; height: 100%;
    object-fit: cover;}

    nav.nav_box>ul>li:nth-child(2)
    {width: fit-content;
    margin-right: 10px;}

    nav.nav_box>ul>li:nth-child(2)>p
    {font-size: 15px; line-height: 40px; color: #fff;}

    nav.nav_box>ul>li:nth-child(3)
    {width: fit-content;
    max-width: calc(100% - 50px);}

    nav.nav_box>ul>li:nth-child(3)>a>p
    {font-size: 15px; line-height: 40px; 
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

    /*전체박스*/
    div.cart_ex
    {width: 90%;
    margin: 50px auto;
    margin-bottom: 80px;}

    /*타이틀*/
    div.cart_title
    {width: 100%;
    margin-bottom: 30px; padding-bottom: 30px;
    border-bottom: 1px solid #222; box-sizing: border-box;}

    div.cart_title>p:nth-child(1)
    {width: 100%;
    text-align: center; font-size: 24px; color: #222;
    line-height: 30px; font-family: bold;
    margin-bottom: 10px;}

    div.cart_title>p:nth-child(2)
    {width: 100%;
    font-size: 15px; color: #555; line-height: 25px; text-align: center;
    word-break: keep-all;}

    /*상품 없을 때*/
    p.no_cart_product_list
    {width: 100%;
    padding-top: 100px; padding-bottom: 100px;
    text-align: center; line-height: 25px;
    color: #555;}

    /*상품 있을 때*/
    div.cart_product_list_ex
    {width: 100%;}

    /*전체 선택*/
    div.all_cart_chk_ex
    {width: 100%;
    overflow: hidden;
    margin-bottom: 20px;}

    div.all_cart_chk_ex>div
    {width: fit-content;
    max-width: 100%;
    float: right;}

    #all_cart_product_chk
    {width: 13px; height: 13px;
    margin-top: 3.5px;
    border: 1px solid #222; box-sizing: border-box;
    margin-right: 5px;
    float: left;
    outline: none;}

    div.all_cart_chk_ex>div>label
    {width: fit-content;
    max-width: calc(100% - 18px);
    display: block;
    float: right;}

    div.all_cart_chk_ex>div>label>p
    {line-height: 20px;
    font-family: 'min_bold'; color: #222;}

    /*각 리스트 큰 박스*/
    div.cart_product_contents_ex
    {width: 100%;
    border: 1px solid #ddd; box-sizing: border-box;
    padding-top: 10px; padding-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;}

    input[type="checkbox"].cart_product_chk_box
    {width: 15px; height: 15px;
    border: 1px solid #222; box-sizing: border-box;
    margin-left: 10px; margin-bottom: 10px;
    outline: none;}

    div.cart_product_contents_box
    {width: calc(100% - 20px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    overflow: hidden;}

    /*이미지*/
    div.cart_product_contents_img_box
    {width: 30%; height: 0;
    padding-bottom: 30%;
    margin-right: 2%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;}

    div.cart_product_contents_img_box img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;}

    /*텍스트*/
    div.cart_product_contents_txt_ex
    {width: 68%;
    overflow: hidden;}

    div.cart_product_contents_txt_box
    {width: 100%;
    margin-bottom: 15px;}

    /*작은 메뉴*/
    p.cart_product_contents_main_lnb
    {width: fit-content;
    padding-left: 5px; padding-right: 5px;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 5px;}
    
    /*건강검진*/
    p.health_screeing_lnb
    {border: 1px solid #51b8ff; box-sizing: border-box;
    color: #51b8ff;}

    /*컨시어징*/
    p.concierge_servies_lnb
    {border: 1px solid #45b2b5; box-sizing: border-box;
    color: #45b2b5;}

    /*번역*/
    p.interpreter_servies_lnb
    {border: 1px solid #4567b5; box-sizing: border-box;
    color: #4567b5;}

    /*타이틀*/
    p.cart_product_contents_name_title
    {width: 100%;
    word-break: keep-all;
    font-size: 18px; font-family: bold; color: #222; line-height: 25px;
    margin-bottom: 10px;}

    /*예약 시간*/
    div.product_time_title
    {width: 100%;
    margin-bottom: 5px;
    overflow: hidden;}

    div.product_time_title>p:nth-child(1)
    {width: fit-content;
    max-width: 120px;
    float: left;
    line-height: 20px;
    font-size: 14px;
    word-break: keep-all;
    color: #222; font-family: 'min_bold';
    margin-right: 5px;}

    div.product_time_title>p:nth-child(2)
    {width: fit-content;
    max-width: calc(100% - 125px);
    font-size: 14px;
    word-break: keep-all;
    color: #222; line-height: 20px;
    float: left;}

    /*상품 선택 리스트*/
    div.cart_product_sub_product_box
    {width: 100%;
    margin-bottom: 20px;}

    div.cart_product_sub_product_box>p
    {width: 100%;
    font-size: 14px; line-height: 20px;
    color: #555; word-break: keep-all;}

    /*버튼*/
    a.cart_product_detaile_btn
    {width: 200px; height: 45px;
    display: block;
    float: right;
    border-radius: 5px;
    background-color: #51b8ff;}

    a.cart_product_detaile_btn>p
    {color: #fff; font-size: 15px; text-align: center;
    line-height: 45px;}

    /*총가격*/
    p.cart_product_contents_pay
    {width: 100%;
    font-size: 18px; line-height: 25px; text-align: right;
    font-family: bold; color: red;}

    p.cart_product_contents_pay>span
    {font-family: 'Pretendard';
    font-size: 14px;}

    /*예약하기 버튼*/
    #cart_product_reservation
    {width: 250px; height: 50px;
    margin-left: calc(50% - 125px); margin-right: calc(50% - 125px);
    border: none; border-radius: 5px;
    background-color: #1f4e79; font-size: 16px; text-align: center;
    line-height: 50px; color: #fff;
    font-family: 'Pretendard' !important;
    margin-top: 35px;}
}

@media all and (max-width: 600px)
{   
    /*비주얼 배너*/
    div.visual_sub_banner
    {width: 100%; height: 200px;
    overflow: hidden;
    position: relative;}

    /*비주얼 배너*/
    div.visual_sub_banner img
    {width: 100%; height: 100%;
    object-fit: cover;
    transition: all 2s;
    transform: scale(1.2);}

    p.visual_sub_text
    {width: 90%;
    position: absolute;
    top: calc(50% + 5px); left: 5%;
    text-align: center;
    opacity: 0;
    transition: all 2s;
    word-break: keep-all;
    font-family: bold; color: #fff;
    font-size: 24px; line-height: 30px;}

     /*전체 선택*/
    div.all_cart_chk_ex
    {width: 90%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 20px;}

    /*리스트*/
    div.cart_product_contents_ex
    {width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #ddd; box-sizing: border-box;
    padding-top: 5%; padding-bottom: 5%;
    overflow: hidden;
    margin-bottom: 15px;}

    input[type="checkbox"].cart_product_chk_box
    {width: 13px; height: 13px;
    border: 1px solid #222; box-sizing: border-box;
    margin-left: 5%; margin-bottom: 5%;
    outline: none;}

    div.cart_product_contents_box
    {width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;}

    /*이미지*/
    div.cart_product_contents_img_box
    {width: 100%; height: 0;
    padding-bottom: 100%;
    margin-right: 0;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;}

    div.cart_product_contents_img_box img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;}

    /*텍스트*/
    div.cart_product_contents_txt_ex
    {width: 100%;}

    /*버튼*/
    a.cart_product_detaile_btn
    {width: 100%; height: 45px;
    display: block;
    float: right;
    border-radius: 5px;
    background-color: #51b8ff;}

    a.cart_product_detaile_btn>p
    {color: #fff; font-size: 14px; text-align: center;
    line-height: 45px;}

    /*예약하기 버튼*/
    #cart_product_reservation
    {width: 90%; height: 50px;
    margin-left: 5%; margin-right: 5%;
    border: none; border-radius: 5px;
    background-color: #1f4e79; font-size: 15px; text-align: center;
    line-height: 50px; color: #fff;
    font-family: 'Pretendard' !important;
    margin-top: 35px;}
}

@media all and (max-width: 319px)
{   
    /*전체 선택*/
    div.all_cart_chk_ex
    {width: 100%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 20px;}

     /*리스트*/
    div.cart_product_contents_ex
    {width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #ddd; box-sizing: border-box;
    padding-top: 5%; padding-bottom: 5%;
    overflow: hidden;
    margin-bottom: 15px;}

    /*예약하기 버튼*/
    #cart_product_reservation
    {width: 100%; height: 50px;
    margin-left: 0; margin-right: 0;
    border: none; border-radius: 5px;
    background-color: #1f4e79; font-size: 15px; text-align: center;
    line-height: 50px; color: #fff;
    font-family: 'Pretendard' !important;
    margin-top: 35px;}
}