* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none;}
img {display: block;}

*::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'min_bold';
    font-weight: 600;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'bold';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf') format("truetype");
    font-display: swap;
}

body {font-family: 'Pretendard'; line-height: 16px;}

p {margin-bottom: 0;}

ul {margin: 0; padding: 0;}

input:not([type]), input[type="text"], input[type="password"], 
input[type="date"], input[type="datetime"], 
input[type="datetime-local"], input[type="month"], 
input[type="week"], input[type="email"], input[type="number"], 
input[type="search"], input[type="tel"], input[type="time"], 
input[type="url"], input[type="color"], textarea
{box-shadow: none;
background-color: #fff;
padding: 0;
margin-bottom: 0;
outline: none;}

input[type="checkbox"]
{margin-bottom: 0;}

input[type="checkbox"]+label, input[type="radio"]+label 
{margin: 0;}

@media all and (min-width: 1420px)
{   
    /*비주얼베너*/
    div.visual_sub_banner
    {width: 100%; height: 350px;
    margin-top: 139.44px;
    overflow: hidden;
    position: relative;}

    div.visual_sub_banner img
    {width: 100%; height: 100%;
    object-fit: cover;
    transition: all 2s;
    transform: scale(1.2);}

    p.visual_sub_text
    {width: 100%;
    position: absolute;
    top: calc(50% - 25px); left: 0;
    text-align: center;
    opacity: 0;
    transition: all 2s;
    font-family: bold; color: #fff;
    font-size: 42px; line-height: 50px;}

     /*루트*/
    div.nav_ex
    {width: 100%;
    background-color: #51b8ff;}

    nav.nav_box
    {width: 1400px;
    margin: 0 auto;}

    nav.nav_box>ul
    {width: 100%;
    overflow: hidden;}

    nav.nav_box>ul>li
    {float: left;}

    nav.nav_box>ul>li:nth-child(1)
    {width: 20px; height: 20px;
    margin-top: 10px; margin-bottom: 10px;}
    
    nav.nav_box>ul>li:nth-child(1) img
    {width: 100%; height: 100%;
    object-fit: cover;}

    nav.nav_box>ul>li>p
    {line-height: 40px;
    color: #fff;
    margin-left: 10px; margin-right: 10px;}

    nav.nav_box>ul>li>a>p
    {line-height: 40px;
    color: #fff;}

    /*호텔 디테일*/
    div.hotel_detaile_ex
    {width: 1400px;
    margin: 100px auto;
    margin-bottom: 150px;}

    /*타이틀*/
    div.hotel_detiale_title_ex
    {width: 100%;
    margin-bottom: 50px; padding-bottom: 50px;
    border-bottom: 1px solid #222; box-sizing: border-box;}

    div.hotel_detiale_title_ex>p:nth-child(1)
    {width: 100%;
    font-family: 'min_bold'; line-height: 25px;
    color: #51b8ff; 
    margin-bottom: 10px;}

    div.hotel_detiale_title_ex>p:nth-child(2)
    {width: 100%;
    font-size: 28px; font-family: bold; line-height: 32px;
    color: #222; word-break: keep-all;}
 

    /*호텔 비주얼 박스*/
    div.hotel_detaile_visual_ex
    {width: 100%;
    margin-bottom: 50px; padding-bottom: 30px;
    border-bottom: 1px solid #ddd; box-sizing: border-box;}

    /*비주얼 슬라이드 이미지*/
    div.hotels_detaile_visual
    {width: 100%;
    margin-bottom: 30px;}

    div.hotels_detaile_visual_img
    {width: 100%; height: 0;
    position: relative;
    padding-bottom: 100%;
    border-radius: 5px;
    overflow: hidden;}

    div.hotels_detaile_visual_img img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;}

    /*호텔 설명*/
    div.hotel_detaile_visual_txt_box
    {width: 100%;
    background-color: #f3f3f3;
    padding-top: 30px; padding-bottom: 30px;}

    div.hotel_detaile_visual_txt_box>p
    {width: calc(100% - 60px);
    margin: 0 auto;
    line-height: 25px; color: #222;
    word-break: keep-all;}

    /*호텔 공통 폼*/
    div.hotel_detaile_form_ex
    {width: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: 50px;}

    div.hotel_detaile_form_box
    {width: 48.5%;
    margin-right: 3%;
    margin-bottom: 30px;}

    div.hotel_detaile_form_box:nth-child(2n+2)
    {margin-right: 0;}

    div.hotel_detaile_form_box:nth-child(1n+3)
    {margin-bottom: 0;}

    /*타이틀*/
    div.hotel_detaile_form_title_ex
    {width: 100%;
    margin-bottom: 20px;}

    div.hotel_detaile_form_title_icon
    {width: 35px; height: 35px;
    margin-bottom: 10px;}

    div.hotel_detaile_form_title_icon img
    {width: 100%; height: 100%;
    object-fit: cover;}

    p.hotel_detaile_form_title
    {width: 100%;
    word-break: keep-all; font-size: 22px; font-family: bold;
    color: #222; line-height: 30px;}

    div.hotel_detaile_form_box>p:nth-child(2)
    {width: 100%;
    word-break: keep-all;
    line-height: 25px; color: #555;}

    div.hotel_detaile_form_box>a:nth-child(2)
    {width: 100%;
    display: block;}

    div.hotel_detaile_form_box>a:nth-child(2)>p
    {width: 100%;
    word-break: keep-all;
    text-decoration: underline;
    text-decoration-color: #51b8ff; color: #51b8ff; line-height: 25px;}

    /*호텔 룸타입*/
    div.hotel_room_type_ex
    {width: 100%;
    margin-bottom: 80px;}

    /*호텔 룸타입 타이틀*/
    div.hotel_room_type_title_ex
    {width: 100%;
    margin-bottom: 50px;}

    div.hotel_room_type_icon
    {width: 35px; height: 35px;
    margin-bottom: 10px;}

    div.hotel_room_type_icon img
    {width: 100%; height: 100%;
    object-fit: cover;}

    p.hotel_room_type_title
    {width: 100%;
    word-break: keep-all; font-size: 22px; font-family: bold;
    color: #222; line-height: 30px;}
    
    /*호텔 룸타입 설명*/
    div.hotle_room_type_box
    {width: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    overflow: hidden;}

    div.hotel_room_type
    {width: 47.5%;
    margin-right: 5%;
    margin-bottom: 30px;}

    div.hotel_room_type:nth-child(2n+2)
    {margin-right: 0;}
    
    /*이미지 박스*/
    div.hotel_room_type_img_box
    {width: 100%; height: 0;
    padding-bottom: 56.18%;
    position: relative;
    overflow: hidden;}

    div.hotel_room_type_img_box img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;}

    /*글 박스*/
    div.hotel_room_type_txt_box
    {width: 100%;
    padding-top: 10px; margin-top: 20px;
    border-top: 1px solid #222; box-sizing: border-box;
    overflow: hidden;}
    
    /*호텔 타입 타이틀*/
    p.hotel_room_type_txt_title
    {width: 100%;
    word-break: keep-all;
    font-size: 18px; font-family: bold; color: #222;
    margin-bottom: 5px;}

    /*최대 인원*/
    div.max_member_room_type
    {width: fit-content;
    max-width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;}

    div.max_member_room_type>p:nth-child(1)
    {width: 240px;
    margin-right: 10px;
    color: #555; line-height: 25px;}

    div.max_member_room_type>p:nth-child(2)
    {width: fit-content;
    max-width: calc(100% - 250px);
    color: #555; font-family: 'min_bold';}

    /*가격*/
    div.hotel_room_money
    {width: fit-content;
    float: right;}

    div.hotel_room_money>p
    {width: 100%;
    line-height: 25px;
    text-align: right;}

    div.hotel_room_money>p:nth-child(1)
    {color: #555; font-size: 15px;}

    div.hotel_room_money>p:nth-child(2)
    {font-size: 18px; color: red; font-family: 'min_bold';}

    /*카트 담기 폼*/
    div.hotel_detaile_cart_ex
    {width: 100%;}

    div.hotel_detaile_cart_form_box
    {width: 100%;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    margin-bottom: 80px;}

    div.hotel_detaile_cart_form_box>div
    {width: 47.5%;}

    div.hotel_detaile_cart_form_box>div:nth-child(1)
    {margin-right: 5%;}

    /*체크인 체크아웃 타이틀*/
    div.hotel_detaile_cart_form_01_title
    {width: 100%;
    margin-bottom: 30px;}

    div.hotel_detaile_cart_form_01_icon
    {width: 35px; height: 35px;
    margin-bottom: 10px;}

    div.hotel_detaile_cart_form_01_icon img
    {width: 100%; height: 100%;
    object-fit: cover;}

    p.hotel_detaile_cart_form_01_title_txt
    {width: 100%;
    word-break: keep-all; font-size: 22px; font-family: bold;
    color: #222; line-height: 30px;}

    /*체크인 체크아웃 셀렉*/
    div.hotel_detaile_cart_form_01_select_ex
    {width: 100%;
    overflow: hidden;}

    div.calendar_01
    {width: 48.5%;
    float: left;
    margin-right: 3%;}

    div.calendar_02
    {width: 48.5%;
    float: left;}

    #calendar_01_number
    {width: 100%; height: 50px;
    outline: none;
    border: 1px solid #ccc; box-sizing: border-box;
    background: #fff;
    text-indent: 10px; color: #222;
    font-size: 15px;
    font-family: 'Pretendard' !important;
    margin-bottom: 10px;}

    #calendar_01_number::placeholder {color: #222;}

    #calendar_02_number
    {width: 100%; height: 50px;
    outline: none;
    border: 1px solid #ccc; box-sizing: border-box;
    background: #fff;
    text-indent: 10px; color: #222;
    font-size: 15px;
    font-family: 'Pretendard' !important;
    margin-bottom: 10px;}

    #calendar_02_number::placeholder {color: #222;}
    
    /*달력 제어*/
    .flatpickr-calendar
    {width: 100% !important;
    box-shadow: 0 0 0 !important;
    border: 1px solid #ddd; box-sizing: border-box;
    font-family: 'Pretendard' !important;}
    
    .flatpickr-calendar.inline {top: 0;}

    .flatpickr-months
    {padding-top: 10px; padding-bottom: 10px;
    background-color: #1f4e79;}

    .flatpickr-current-month
    {padding: 0;}

    .flatpickr-current-month .flatpickr-monthDropdown-months
    {height: 30px;
    font-size: 17px !important;
    background: #1f4e79 !important;
    font-family: 'Pretendard' !important;
    color: #fff !important;}

    .flatpickr-current-month input.cur-year
    {height: 30px;
    font-size: 17px !important;
    background: #1f4e79 !important;
    font-family: 'Pretendard' !important;
    overflow-y: hidden !important;
    color: #fff !important;}
    
    /*년도 선택하는 거 안 보이게*/
    .arrowUp {display: none !important;}

    .arrowDown {display: none !important;}
    
    /*꺽세 위치 잡기*/
    .flatpickr-months .flatpickr-prev-month.flatpickr-prev-month
    {top: 6.5px;
    fill: #fff !important;}

    .flatpickr-months .flatpickr-next-month.flatpickr-next-month
    {top: 6.5px;
    fill: #fff !important;}

    .flatpickr-months .flatpickr-prev-month.flatpickr-prev-month:hover svg
    {fill: #fff;}

    .flatpickr-months .flatpickr-next-month.flatpickr-next-month:hover svg
    {fill: #fff;}
    
    /*중앙 정렬*/
    .flatpickr-rContainer
    {width: calc(100% - 20px);
    margin: 0 auto;}

    .flatpickr-days
    {width: 100%;}

    .dayContainer
    {width: 100%;
    min-width: 100%; max-width: none;
    margin: 0 auto;}

    .flatpickr-day
    {width: 14.28571428%; 
    max-width: 14.28571428%; min-width: none;}
    
    /*요일 표시 넓게*/
    .flatpickr-weekdays
    {padding-top: 5px; padding-bottom: 5px;}
    
    /*토, 일 색깔 바꾸기*/
    span.flatpickr-weekday:nth-child(1)
    {color: red !important;}

    span.flatpickr-weekday:nth-child(7)
    {color: blue !important;}

    /*오늘 날짜*/
    .flatpickr-day.today
    {border: none;}

    .flatpickr-day.today:hover
    {background-color: #e6e6e6;
    background: #e6e6e6;
    color: #222;}

    /*요일*/
    .flatpickr-day
    {height: 100%; height: 40px;
    border-radius: 0;
    line-height: 40px;}


    /*룸타입, 인원*/
    div.hotel_detaile_cart_form_02_title
    {width: 100%;
    margin-bottom: 30px;}

    div.hotel_detaile_cart_form_02_icon
    {width: 35px; height: 35px;
    margin-bottom: 10px;}

    div.hotel_detaile_cart_form_02_icon img
    {width: 100%; height: 100%;
    object-fit: cover;}

    p.hotel_detaile_cart_form_02_title_txt
    {width: 100%;
    word-break: keep-all; font-size: 22px; font-family: bold;
    color: #222; line-height: 30px;}

    /*룸타입, 인원 셀렉*/
    div.hotel_detaile_cart_form_02_select_ex
    {width: 100%;
    overflow: hidden;}

    #hotel_room_type_select
    {width: 100%; height: 50px;
    margin: 0; padding: 0 25px 0 10px;
    margin-bottom: 20px;
    background-color: #fff;
    background: url('../img/select_dowm_icon.png') no-repeat 97% 50%/15px auto;
    outline: none;
    color: #222; font-size: 15px;
    font-family: 'Pretendard' !important;
    border: 1px solid #ddd; box-sizing: border-box;
    -webkit-appearance: none; /* for chrome */
    -moz-appearance: none; /*for firefox*/
    appearance: none;}

    #hotel_room_type_select::-ms-expand
    {display: none;}

    /*인원*/
    div.select_hotel_people_ex
    {width: 100%;}
    
    /*성인*/
    div.adults_hotel_ex
    {width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;}

    div.adults_hotel_ex>p:nth-child(1)
    {width: calc(100% - 160px);
    margin-right: 10px;
    font-family: 'min_bold'; line-height: 25px; color: #222;}

    #hotel_adults_select
    {width: 150px; height: 50px;
    margin: 0; padding: 0 25px 0 10px;
    background-color: #fff;
    background: url('../img/select_dowm_icon.png') no-repeat 97% 50%/15px auto;
    outline: none;
    color: #222; font-size: 15px;
    font-family: 'Pretendard' !important;
    border: 1px solid #ddd; box-sizing: border-box;
    -webkit-appearance: none; /* for chrome */
    -moz-appearance: none; /*for firefox*/
    appearance: none;}

    #hotel_adults_select::-ms-expand
    {display: none;}

    /*청소년*/
    div.teens_hotel_ex
    {width: 100%;
    margin-top: 15px; margin-bottom: 15px;
    display: flex;
    align-items: center;
    overflow: hidden;}

    div.teens_hotel_ex>div
    {width: calc(100% - 160px);
    margin-right: 10px;}

    div.teens_hotel_ex>div>p:nth-child(1)
    {width: 100%;
    margin-bottom: 5px;
    word-break: keep-all;
    font-family: 'min_bold'; line-height: 20px; color: #222;}

    div.teens_hotel_ex>div>p:nth-child(2)
    {width: 100%;
    font-size: 14px; line-height: 18px;
    word-break: keep-all; color: #555;}

    #hotel_teens_select
    {width: 150px; height: 50px;
    margin: 0; padding: 0 25px 0 10px;
    background-color: #fff;
    background: url('../img/select_dowm_icon.png') no-repeat 97% 50%/15px auto;
    outline: none;
    color: #222; font-size: 15px;
    font-family: 'Pretendard' !important;
    border: 1px solid #ddd; box-sizing: border-box;
    -webkit-appearance: none; /* for chrome */
    -moz-appearance: none; /*for firefox*/
    appearance: none;}

    #hotel_teens_select::-ms-expand
    {display: none;}

    /*유아*/
    div.toddlers_hotel_ex
    {width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;}

    div.toddlers_hotel_ex>div
    {width: calc(100% - 160px);
    margin-right: 10px;}

    div.toddlers_hotel_ex>div>p:nth-child(1)
    {width: 100%;
    margin-bottom: 5px;
    word-break: keep-all;
    font-family: 'min_bold'; line-height: 20px; color: #222;}

    div.toddlers_hotel_ex>div>p:nth-child(2)
    {width: 100%;
    font-size: 14px; line-height: 18px;
    word-break: keep-all; color: #555;}

    #hotel_toddlers_select
    {width: 150px; height: 50px;
    margin: 0; padding: 0 25px 0 10px;
    background-color: #fff;
    background: url('../img/select_dowm_icon.png') no-repeat 97% 50%/15px auto;
    outline: none;
    color: #222; font-size: 15px;
    font-family: 'Pretendard' !important;
    border: 1px solid #ddd; box-sizing: border-box;
    -webkit-appearance: none; /* for chrome */
    -moz-appearance: none; /*for firefox*/
    appearance: none;}

    #hotel_toddlers_select::-ms-expand
    {display: none;}

    /*버튼 박스*/
    div.hotel_detaile_btn_ex
    {width: fit-content;
    margin: 0 auto;
    overflow: hidden;}

    /*버튼*/
    a.send_email
    {width: 300px; height: 50px;
    border-radius: 5px;
    float: left;
    margin-right: 20px;
    background-color: #51b8ff;
    display: block;
    transition: all 0.3s;}

    a.send_email>p
    {text-align: center;
    color: #fff; line-height: 50px;}

    a.send_email:hover
    {background-color: #1f4e79;}

    /*목록*/
    a.hotel_menu_btn
    {width: 300px; height: 50px;
    border-radius: 5px;
    background-color: #ccc;
    display: block;
    float: left;
    transition: all 0.3s;}

    a.hotel_menu_btn>p
    {width: 100%;
    transition: all 0.3s;
    text-align: center; line-height: 50px; color: #222;}

    a.hotel_menu_btn:hover
    {background-color: #222;}

    a.hotel_menu_btn:hover>p
    {color: #fff;}


    /*장바구니 담기 팝업
    div.cart_submit_popup_ex
    {width: 100%; height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0; left: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;}

    div.cart_submit_popup
    {width: 500px;
    padding-top: 50px; padding-bottom: 50px;
    background-color: #fff;
    border-radius: 5px;}

    div.cart_submit_img_box
    {width: 80px; height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 3px solid #ddd; box-sizing: border-box;}

    div.cart_submit_img_box img
    {width: 50px; height: 50px;
    margin: 15px auto;}

    p.cart_submit_title
    {width: calc(100% - 40px);
    margin: 0 auto;
    word-break: keep-all;
    text-align: center; line-height: 25px;
    font-size: 17px; font-family: 'min_bold'; color: #222;
    margin-bottom: 30px;}

    div.cart_link_box
    {width: calc(100% - 40px);
    margin: 0 auto;
    overflow: hidden;}

    div.cart_link_box>a:nth-child(1)
    {width: calc(50% - 10px); height: 50px;
    border-radius: 5px;
    float: left;
    display: block;
    background-color: #51b8ff;
    margin-right: 20px;
    transition: all 0.3s;}

    div.cart_link_box>a:nth-child(1)>p
    {color: #fff;
    font-size: 15px;
    text-align: center; line-height: 50px;
    transition: all 0.3s;}

    div.cart_link_box>a:nth-child(1):hover {background-color: #1f4e79;}

    div.cart_link_box>a:nth-child(1):hover>p {color: #fff;}

    div.cart_link_box>p:nth-child(2)
    {width: calc(50% - 10px); height: 50px;
    border-radius: 5px;
    float: left;
    font-size: 15px;
    text-align: center; line-height: 50px;
    color: #222; background-color: #ccc;
    display: block;
    transition: all 0.3s;}

    div.cart_link_box>p:nth-child(2):hover
    {background-color: #222; color: #fff;}*/
    
}

@media all and (min-width: 769px) and (max-width : 1419px)
{   
     /*비주얼베너*/
    div.visual_sub_banner
    {width: 100%; height: 350px;
    margin-top: 139.44px;
    overflow: hidden;
    position: relative;}

    div.visual_sub_banner img
    {width: 100%; height: 100%;
    object-fit: cover;
    transition: all 2s;
    transform: scale(1.2);}

    p.visual_sub_text
    {width: 100%;
    position: absolute;
    top: calc(50% - 25px); left: 0;
    text-align: center;
    opacity: 0;
    transition: all 2s;
    font-family: bold; color: #fff;
    font-size: 42px; line-height: 50px;}

    /*루트*/
    div.nav_ex
    {width: 100%;
    background-color: #51b8ff;}

    nav.nav_box
    {width: 90%;
    margin: 0 auto;}

    nav.nav_box>ul
    {width: 100%;
    overflow: hidden;}

    nav.nav_box>ul>li
    {float: left;}

    nav.nav_box>ul>li:nth-child(1)
    {width: 20px; height: 20px;
    margin-top: 10px; margin-bottom: 10px;}
    
    nav.nav_box>ul>li:nth-child(1) img
    {width: 100%; height: 100%;
    object-fit: cover;}

    nav.nav_box>ul>li>p
    {line-height: 40px;
    color: #fff;
    margin-left: 10px; margin-right: 10px;}

    nav.nav_box>ul>li>a>p
    {line-height: 40px;
    color: #fff;}

    /*호텔 디테일*/
    div.hotel_detaile_ex
    {width: 90%;
    margin: 100px auto;
    margin-bottom: 150px;}

    /*호텔 타이틀*/
    div.hotel_detiale_title_ex
    {width: 100%;
    margin-bottom: 50px; padding-bottom: 30px;
    border-bottom: 1px solid #222; box-sizing: border-box;}

    div.hotel_detiale_title_ex>p:nth-child(1)
    {width: 100%;
    font-size: 17px; font-family: 'min_bold'; color: #51b8ff;
    line-height: 25px; word-break: keep-all;
    margin-bottom: 5px;}

    div.hotel_detiale_title_ex>p:nth-child(2)
    {width: 100%;
    font-size: 28px; font-family: bold; line-height: 32px;
    color: #222; word-break: keep-all;}

    /*비주얼 슬라이드*/
    div.hotel_detaile_visual_ex
    {width: 100%;
    margin-bottom: 50px; padding-bottom: 30px;
    border-bottom: 1px solid #ddd; box-sizing: border-box;}

    div.hotels_detaile_visual
    {width: 100%;
    margin-bottom: 30px;}

    div.hotels_detaile_visual_img
    {width: 100%; height: 0;
    position: relative;
    padding-bottom: 100%;
    border-radius: 5px;
    overflow: hidden;}

    div.hotels_detaile_visual_img img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;}

    /*회사 소개*/
    div.hotel_detaile_visual_txt_box
    {width: 100%;
    padding-top: 30px; padding-bottom: 30px;
    background-color: #f3f3f3;
    margin-top: 30px;}

    div.hotel_detaile_visual_txt_box>p
    {width: calc(100% - 60px);
    margin: 0 auto;
    word-break: keep-all; font-size: 15px; color: #222;
    line-height: 25px;}

    /*기본 입력 정보 - 호텔 폼*/
    div.hotel_detaile_form_ex
    {width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    overflow: hidden;}

    div.hotel_detaile_form_box
    {width: 47.5%;
    margin-right: 5%;
    margin-bottom: 30px;}

    div.hotel_detaile_form_box:nth-child(2n+2) {margin-right: 0;}

    /*기본 입력 정보 - 호텔폼 타이틀*/
    div.hotel_detaile_form_title_ex
    {width: 100%;
    margin-bottom: 15px;}

    div.hotel_detaile_form_title_icon
    {width: 35px; height: 35px;
    margin-bottom: 10px;}

    div.hotel_detaile_form_title_icon img
    {width: 100%; height: 100%;
    object-fit: cover;}

    p.hotel_detaile_form_title
    {width: 100%;
    font-size: 20px;
    font-family: bold; color: #222; line-height: 25px;}

    /*기본 입력 정보 - 호텔폼 내용*/
    div.hotel_detaile_form_box>p:nth-child(2)
    {width: 100%;
    word-break: keep-all;
    color: #555; line-height: 25px;}

    div.hotel_detaile_form_box>a:nth-child(2)
    {width: 100%;
    display: block;}

    div.hotel_detaile_form_box>a:nth-child(2)>p
    {width: 100%;
    word-break: keep-all;
    text-decoration: underline;
    text-decoration-color: #51b8ff; color: #51b8ff; line-height: 25px;}

    /*룸타입*/
    div.hotel_room_type_ex
    {width: 100%;
    margin-bottom: 80px;}

    /*룸타입 타이틀*/
    div.hotel_room_type_title_ex
    {width: 100%;
    margin-bottom: 30px;}

    div.hotel_room_type_icon
    {width: 35px; height: 35px;
    margin-bottom: 10px;}

    div.hotel_room_type_icon img
    {width: 100%; height: 100%;
    object-fit: cover;}

    p.hotel_room_type_title
    {width: 100%;
    word-break: keep-all; font-size: 20px; font-family: bold;
    color: #222; line-height: 25px;}
    
    /*룸타입 디테일*/
    div.hotle_room_type_box
    {width: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    overflow: hidden;}

    div.hotel_room_type
    {width: 48.5%;
    margin-right: 3%;
    margin-bottom: 30px;}

    div.hotel_room_type:nth-child(2n+2)
    {margin-right: 0;}

    /*이미지 박스*/
    div.hotel_room_type_img_box
    {width: 100%; height: 0;
    padding-bottom: 56.18%;
    position: relative;
    overflow: hidden;}

    div.hotel_room_type_img_box img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;}

    /*글 박스*/
    div.hotel_room_type_txt_box
    {width: 100%;
    padding-top: 10px; margin-top: 20px;
    border-top: 1px solid #222; box-sizing: border-box;
    overflow: hidden;}

    /*호텔 타입 타이틀*/
    p.hotel_room_type_txt_title
    {width: 100%;
    word-break: keep-all;
    font-size: 18px; font-family: bold; color: #222;
    margin-bottom: 5px;}

    /*최대 인원*/
    div.max_member_room_type
    {width: fit-content;
    max-width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;}

    div.max_member_room_type>p:nth-child(1)
    {width: 224px;
    font-size: 15px;
    margin-right: 5px;
    color: #555; line-height: 25px;}

    div.max_member_room_type>p:nth-child(2)
    {width: fit-content;
    max-width: calc(100% - 229px);
    font-size: 15px;
    color: #555; font-family: 'min_bold';}

    /*가격*/
    div.hotel_room_money
    {width: fit-content;
    float: right;}

    div.hotel_room_money>p
    {width: 100%;
    line-height: 25px;
    text-align: right;}

    div.hotel_room_money>p:nth-child(1)
    {color: #555; font-size: 15px;}

    div.hotel_room_money>p:nth-child(2)
    {font-size: 18px; color: red; font-family: 'min_bold';}

    /*카트 담기 폼*/
    div.hotel_detaile_cart_ex
    {width: 100%;}

    div.hotel_detaile_cart_form_box
    {width: 100%;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    margin-bottom: 80px;}

    div.hotel_detaile_cart_form_box>div
    {width: 48.5%;}

    div.hotel_detaile_cart_form_box>div:nth-child(1)
    {margin-right: 3%;}

    /*체크인 체크아웃 타이틀*/
    div.hotel_detaile_cart_form_01_title
    {width: 100%;
    margin-bottom: 30px;}

    div.hotel_detaile_cart_form_01_icon
    {width: 35px; height: 35px;
    margin-bottom: 10px;}

    div.hotel_detaile_cart_form_01_icon img
    {width: 100%; height: 100%;
    object-fit: cover;}

    p.hotel_detaile_cart_form_01_title_txt
    {width: 100%;
    word-break: keep-all; font-size: 20px; font-family: bold;
    color: #222; line-height: 25px;}

    /*체크인 체크아웃 셀렉*/
    div.hotel_detaile_cart_form_01_select_ex
    {width: 100%;
    overflow: hidden;}

    div.calendar_01
    {width: 49%;
    float: left;
    margin-right: 2%;}

    div.calendar_02
    {width: 49%;
    float: left;}

    #calendar_01_number
    {width: 100%; height: 50px;
    outline: none;
    border: 1px solid #ccc; box-sizing: border-box;
    background: #fff;
    text-indent: 10px; color: #222;
    font-size: 15px;
    font-family: 'Pretendard' !important;
    margin-bottom: 10px;}

    #calendar_01_number::placeholder {color: #222;}

    #calendar_02_number
    {width: 100%; height: 50px;
    outline: none;
    border: 1px solid #ccc; box-sizing: border-box;
    background: #fff;
    text-indent: 10px; color: #222;
    font-size: 15px;
    font-family: 'Pretendard' !important;
    margin-bottom: 10px;}

    #calendar_02_number::placeholder {color: #222;}
    
    /*달력 제어*/
    .flatpickr-calendar
    {width: 100% !important;
    box-shadow: 0 0 0 !important;
    border: 1px solid #ddd; box-sizing: border-box;
    font-family: 'Pretendard' !important;}
    
    .flatpickr-calendar.inline {top: 0;}

    .flatpickr-months
    {padding-top: 10px; padding-bottom: 10px;
    background-color: #1f4e79;}

    .flatpickr-current-month
    {padding: 0;}

    .flatpickr-current-month .flatpickr-monthDropdown-months
    {height: 30px;
    font-size: 17px !important;
    background: #1f4e79 !important;
    font-family: 'Pretendard' !important;
    color: #fff !important;}

    .flatpickr-current-month input.cur-year
    {height: 30px;
    font-size: 17px !important;
    background: #1f4e79 !important;
    font-family: 'Pretendard' !important;
    overflow-y: hidden !important;
    color: #fff !important;}
    
    /*년도 선택하는 거 안 보이게*/
    .arrowUp {display: none !important;}

    .arrowDown {display: none !important;}
    
    /*꺽세 위치 잡기*/
    .flatpickr-months .flatpickr-prev-month.flatpickr-prev-month
    {top: 6.5px;
    fill: #fff !important;}

    .flatpickr-months .flatpickr-next-month.flatpickr-next-month
    {top: 6.5px;
    fill: #fff !important;}

    .flatpickr-months .flatpickr-prev-month.flatpickr-prev-month:hover svg
    {fill: #fff;}

    .flatpickr-months .flatpickr-next-month.flatpickr-next-month:hover svg
    {fill: #fff;}
    
    /*중앙 정렬*/
    .flatpickr-rContainer
    {width: calc(100% - 20px);
    margin: 0 auto;}

    .flatpickr-days
    {width: 100%;}

    .dayContainer
    {width: 100%;
    min-width: 100%; max-width: none;
    margin: 0 auto;}

    .flatpickr-day
    {width: 14.28571428%; 
    max-width: 14.28571428%; min-width: none;}
    
    /*요일 표시 넓게*/
    .flatpickr-weekdays
    {padding-top: 5px; padding-bottom: 5px;}
    
    /*토, 일 색깔 바꾸기*/
    span.flatpickr-weekday:nth-child(1)
    {color: red !important;}

    span.flatpickr-weekday:nth-child(7)
    {color: blue !important;}

    /*오늘 날짜*/
    .flatpickr-day.today
    {border: none;}

    .flatpickr-day.today:hover
    {background-color: #e6e6e6;
    background: #e6e6e6;
    color: #222;}

    /*요일*/
    .flatpickr-day
    {height: 100%; height: 30px;
    border-radius: 0;
    line-height: 30px;}

    /*룸타입, 인원*/
    div.hotel_detaile_cart_form_02_title
    {width: 100%;
    margin-bottom: 30px;}

    div.hotel_detaile_cart_form_02_icon
    {width: 35px; height: 35px;
    margin-bottom: 10px;}

    div.hotel_detaile_cart_form_02_icon img
    {width: 100%; height: 100%;
    object-fit: cover;}

    p.hotel_detaile_cart_form_02_title_txt
    {width: 100%;
    word-break: keep-all; font-size: 20px; font-family: bold;
    color: #222; line-height: 25px;}

    /*룸타입, 인원 셀렉*/
    div.hotel_detaile_cart_form_02_select_ex
    {width: 100%;
    overflow: hidden;}

    #hotel_room_type_select
    {width: 100%; height: 50px;
    margin: 0; padding: 0 25px 0 10px;
    margin-bottom: 20px;
    background-color: #fff;
    background: url('../img/select_dowm_icon.png') no-repeat 97% 50%/15px auto;
    outline: none;
    color: #222; font-size: 15px;
    font-family: 'Pretendard' !important;
    border: 1px solid #ddd; box-sizing: border-box;
    -webkit-appearance: none; /* for chrome */
    -moz-appearance: none; /*for firefox*/
    appearance: none;}

    #hotel_room_type_select::-ms-expand
    {display: none;}

    /*인원*/
    div.select_hotel_people_ex
    {width: 100%;}
    
    /*성인*/
    div.adults_hotel_ex
    {width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;}

    div.adults_hotel_ex>p:nth-child(1)
    {width: calc(100% - 160px);
    margin-right: 10px;
    font-family: 'min_bold'; line-height: 25px; color: #222;}

    #hotel_adults_select
    {width: 150px; height: 50px;
    margin: 0; padding: 0 25px 0 10px;
    background-color: #fff;
    background: url('../img/select_dowm_icon.png') no-repeat 97% 50%/15px auto;
    outline: none;
    color: #222; font-size: 15px;
    font-family: 'Pretendard' !important;
    border: 1px solid #ddd; box-sizing: border-box;
    -webkit-appearance: none; /* for chrome */
    -moz-appearance: none; /*for firefox*/
    appearance: none;}

    #hotel_adults_select::-ms-expand
    {display: none;}

    /*청소년*/
    div.teens_hotel_ex
    {width: 100%;
    margin-top: 15px; margin-bottom: 15px;
    display: flex;
    align-items: center;
    overflow: hidden;}

    div.teens_hotel_ex>div
    {width: calc(100% - 160px);
    margin-right: 10px;}

    div.teens_hotel_ex>div>p:nth-child(1)
    {width: 100%;
    margin-bottom: 5px;
    word-break: keep-all;
    font-family: 'min_bold'; line-height: 20px; color: #222;}

    div.teens_hotel_ex>div>p:nth-child(2)
    {width: 100%;
    font-size: 14px; line-height: 18px;
    word-break: keep-all; color: #555;}

    #hotel_teens_select
    {width: 150px; height: 50px;
    margin: 0; padding: 0 25px 0 10px;
    background-color: #fff;
    background: url('../img/select_dowm_icon.png') no-repeat 97% 50%/15px auto;
    outline: none;
    color: #222; font-size: 15px;
    font-family: 'Pretendard' !important;
    border: 1px solid #ddd; box-sizing: border-box;
    -webkit-appearance: none; /* for chrome */
    -moz-appearance: none; /*for firefox*/
    appearance: none;}

    #hotel_teens_select::-ms-expand
    {display: none;}

    /*유아*/
    div.toddlers_hotel_ex
    {width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;}

    div.toddlers_hotel_ex>div
    {width: calc(100% - 160px);
    margin-right: 10px;}

    div.toddlers_hotel_ex>div>p:nth-child(1)
    {width: 100%;
    margin-bottom: 5px;
    word-break: keep-all;
    font-family: 'min_bold'; line-height: 20px; color: #222;}

    div.toddlers_hotel_ex>div>p:nth-child(2)
    {width: 100%;
    font-size: 14px; line-height: 18px;
    word-break: keep-all; color: #555;}

    #hotel_toddlers_select
    {width: 150px; height: 50px;
    margin: 0; padding: 0 25px 0 10px;
    background-color: #fff;
    background: url('../img/select_dowm_icon.png') no-repeat 97% 50%/15px auto;
    outline: none;
    color: #222; font-size: 15px;
    font-family: 'Pretendard' !important;
    border: 1px solid #ddd; box-sizing: border-box;
    -webkit-appearance: none; /* for chrome */
    -moz-appearance: none; /*for firefox*/
    appearance: none;}

    #hotel_toddlers_select::-ms-expand
    {display: none;}

    /*버튼 박스*/
    div.hotel_detaile_btn_ex
    {width: fit-content;
    margin: 0 auto;
    overflow: hidden;}

    /*버튼*/
    a.send_email
    {width: 300px; height: 50px;
    border-radius: 5px;
    float: left;
    margin-right: 20px;
    background-color: #51b8ff;
    display: block;
    transition: all 0.3s;}

    a.send_email>p
    {text-align: center;
    color: #fff; line-height: 50px;}

    a.send_email:hover
    {background-color: #1f4e79;}

    /*목록*/
    a.hotel_menu_btn
    {width: 300px; height: 50px;
    border-radius: 5px;
    background-color: #ccc;
    display: block;
    float: left;
    transition: all 0.3s;}

    a.hotel_menu_btn>p
    {width: 100%;
    transition: all 0.3s;
    text-align: center; line-height: 50px; color: #222;}

    a.hotel_menu_btn:hover
    {background-color: #222;}

    a.hotel_menu_btn:hover>p
    {color: #fff;}

    /*장바구니 담기 팝업
    div.cart_submit_popup_ex
    {width: 100%; height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0; left: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;}

    div.cart_submit_popup
    {width: 500px;
    padding-top: 50px; padding-bottom: 50px;
    background-color: #fff;
    border-radius: 5px;}

    div.cart_submit_img_box
    {width: 80px; height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 3px solid #ddd; box-sizing: border-box;}

    div.cart_submit_img_box img
    {width: 50px; height: 50px;
    margin: 15px auto;}

    p.cart_submit_title
    {width: calc(100% - 40px);
    margin: 0 auto;
    word-break: keep-all;
    text-align: center; line-height: 25px;
    font-size: 17px; font-family: 'min_bold'; color: #222;
    margin-bottom: 30px;}

    div.cart_link_box
    {width: calc(100% - 40px);
    margin: 0 auto;
    overflow: hidden;}

    div.cart_link_box>a:nth-child(1)
    {width: calc(50% - 10px); height: 50px;
    border-radius: 5px;
    float: left;
    display: block;
    background-color: #51b8ff;
    margin-right: 20px;
    transition: all 0.3s;}

    div.cart_link_box>a:nth-child(1)>p
    {color: #fff;
    font-size: 15px;
    text-align: center; line-height: 50px;
    transition: all 0.3s;}

    div.cart_link_box>a:nth-child(1):hover {background-color: #1f4e79;}

    div.cart_link_box>a:nth-child(1):hover>p {color: #fff;}

    div.cart_link_box>p:nth-child(2)
    {width: calc(50% - 10px); height: 50px;
    border-radius: 5px;
    float: left;
    font-size: 15px;
    text-align: center; line-height: 50px;
    color: #222; background-color: #ccc;
    display: block;
    transition: all 0.3s;}

    div.cart_link_box>p:nth-child(2):hover
    {background-color: #222; color: #fff;}*/

}

@media all and (min-width: 769px) and (max-width: 1279px)
{
    /*비주얼배너*/
    div.visual_sub_banner
    {margin-top: 0;}

}

@media all and (min-width: 769px) and (max-width: 1024px)
{   
    /*룸타입 디테일*/
    div.hotle_room_type_box
    {width: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    overflow: hidden;}

    div.hotel_room_type
    {width: 49%;
    margin-right: 2%;
    margin-bottom: 30px;}

    div.hotel_room_type:nth-child(2n+2)
    {margin-right: 0;}

    /*글 박스*/
    div.hotel_room_type_txt_box
    {width: 100%;
    padding-top: 10px; margin-top: 10px;
    border-top: 1px solid #222; box-sizing: border-box;
    overflow: hidden;}

    /*장바구니 폼*/
    div.hotel_detaile_cart_form_box
    {width: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 80px;}

    div.hotel_detaile_cart_form_box>div
    {width: 100%;}

    div.hotel_detaile_cart_form_box>div:nth-child(1)
    {margin-right: 0;
    margin-bottom: 30px;}

    /*요일*/
    .flatpickr-day
    {height: 100%; height: 40px;
    border-radius: 0;
    line-height: 40px;}
}

@media all and (max-width : 768px)
{   
    /*비주얼베너*/
    div.visual_sub_banner
    {width: 100%; height: 250px;
    overflow: hidden;
    position: relative;}

    div.visual_sub_banner img
    {width: 100%; height: 100%;
    object-fit: cover;
    transition: all 2s;
    transform: scale(1.2);}

    p.visual_sub_text
    {width: 100%;
    position: absolute;
    top: calc(50% - 20px); left: 0;
    text-align: center;
    opacity: 0;
    transition: all 2s;
    font-family: bold; color: #fff;
    font-size: 32px; line-height: 40px;}

    /*루트*/
    div.nav_ex
    {width: 100%;
    background-color: #51b8ff;}

    nav.nav_box
    {width: 90%;
    margin: 0 auto;}

    nav.nav_box>ul
    {width: 100%;
    overflow: hidden;}

    nav.nav_box>ul>li
    {float: left;}

    nav.nav_box>ul>li:nth-child(1)
    {width: 20px; height: 20px;
    margin-top: 10px; margin-bottom: 10px;
    margin-right: 10px;}

    nav.nav_box>ul>li:nth-child(1)>a img
    {width: 100%; height: 100%;
    object-fit: cover;}

    nav.nav_box>ul>li:nth-child(2)
    {width: fit-content;
    margin-right: 10px;}

    nav.nav_box>ul>li:nth-child(2)>p
    {font-size: 15px; line-height: 40px; color: #fff;}

    nav.nav_box>ul>li:nth-child(3)
    {width: fit-content;
    max-width: calc(100% - 50px);}

    nav.nav_box>ul>li:nth-child(3)>a>p
    {font-size: 15px; line-height: 40px; 
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

    /*전체 박스*/
    div.hotel_detaile_ex
    {width: 90%;
    margin: 50px auto;
    margin-bottom: 80px;}

    /*타이틀*/
    div.hotel_detiale_title_ex
    {width: 100%;
    padding-bottom: 30px; margin-bottom: 30px;
    border-bottom: 1px solid #222; box-sizing: border-box;}

    div.hotel_detiale_title_ex>p:nth-child(1)
    {width: 100%;
    font-family: 'min_bold'; color: #51b8ff; line-height: 20px;
    word-break: keep-all; font-size: 15px;
    margin-bottom: 5px;}

    div.hotel_detiale_title_ex>p:nth-child(2)
    {width: 100%;
    word-break: keep-all;
    font-size: 22px; font-family: bold; color: #222; line-height: 27px;}

    /*비주얼 슬라이드 이미지*/
    div.hotel_detaile_visual_ex
    {width: 100%;}

    div.hotels_detaile_visual
    {width: 100%;
    margin-bottom: 20px;}

    div.hotels_detaile_visual_img
    {width: 100%; height: 0;
    position: relative;
    padding-bottom: 100%;
    border-radius: 5px;
    overflow: hidden;}

    div.hotels_detaile_visual_img img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;}

    /*호텔 소개*/
    div.hotel_detaile_visual_txt_box
    {width: 100%; max-height: 250px;
    overflow-y: scroll;
    background-color: #f3f3f3;
    margin-bottom: 30px;}
    
    div.hotel_detaile_visual_txt_box>p 
    {width: calc(100% - 40px);
    margin: 0 auto;
    font-size: 15px; line-height: 25px; color: #222;
    word-break: keep-all;
    padding-top: 20px; padding-bottom: 20px;}

    /*스크롤바 바꾸기*/
    .hotel_detaile_visual_txt_box::-webkit-scrollbar
    {width: 2px;
    display: block;}

    .hotel_detaile_visual_txt_box::-webkit-scrollbar-thumb
    {background-color: #51b8ff;
    border-radius: 10px;}

    .hotel_detaile_visual_txt_box::-webkit-scrollbar-track
    {background-color: #ddd;}

    /*기본 정보 제공 입력*/
    div.hotel_detaile_form_ex
    {width: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: 30px;
    overflow: hidden;}

    div.hotel_detaile_form_box
    {margin-bottom: 20px;}

    div.hotel_detaile_form_box:nth-child(1)
    {width: 49%;
    margin-right: 2%;}

    div.hotel_detaile_form_box:nth-child(2)
    {width: 49%;}

    div.hotel_detaile_form_box:nth-child(3)
    {width: 100%;}

    div.hotel_detaile_form_box:nth-child(4)
    {width: 100%;
    margin-bottom: 0;}
    
    /*타이틀*/
    div.hotel_detaile_form_title_ex
    {width: 100%;
    margin-bottom: 10px;}

    div.hotel_detaile_form_title_icon
    {width: 30px; height: 30px;
    margin-bottom: 10px;}

    div.hotel_detaile_form_title_icon img
    {width: 100%; height: 100%;
    object-fit: cover;}

    p.hotel_detaile_form_title
    {width: 100%;
    font-family: bold; color: #222; line-height: 25px;
    font-size: 17px;
    word-break: keep-all;}

    /*기본 정보 글*/
    div.hotel_detaile_form_box>p:nth-child(2)
    {width: 100%;
    word-break: keep-all;
    font-size: 15px; color: #555; line-height: 22px;}

    a.hotel_detaile_link
    {width: 100%;
    display: block;}

    a.hotel_detaile_link>p
    {width: 100%;
    word-break: break-all; line-height: 22px;
    font-size: 15px;
    color: #51b8ff; text-decoration: underline;
    text-decoration-color: #51b8ff;}

    /*객실 안내*/
    div.hotel_room_type_ex
    {width: 100%;
    margin-bottom: 30px;}

    /*객실 안내 타이틀*/
    div.hotel_room_type_title_ex
    {width: 100%;
    margin-bottom: 20px;}

    div.hotel_room_type_icon
    {width: 30px; height: 30px;
    margin-bottom: 10px;}

    div.hotel_room_type_icon img
    {width: 100%; height: 100%;
    object-fit: cover;}

    p.hotel_room_type_title
    {width: 100%;
    font-family: bold; color: #222; line-height: 25px;
    font-size: 17px;
    word-break: keep-all;}
    
    /*객실 컨텐츠*/
    div.hotle_room_type_box
    {width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    overflow: hidden;}

    div.hotel_room_type
    {width: 49%;
    margin-right: 2%;
    margin-bottom: 20px;}

    div.hotel_room_type:nth-child(2n+2)
    {margin-right: 0;}

     /*이미지 박스*/
    div.hotel_room_type_img_box
    {width: 100%; height: 0;
    padding-bottom: 56.18%;
    position: relative;
    overflow: hidden;}

    div.hotel_room_type_img_box img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;}

    /*글 박스*/
    div.hotel_room_type_txt_box
    {width: 100%;
    padding-top: 10px; margin-top: 10px;
    border-top: 1px solid #222; box-sizing: border-box;
    overflow: hidden;}

    /*호텔 타입 타이틀*/
    p.hotel_room_type_txt_title
    {width: 100%;
    word-break: keep-all;
    font-size: 17px; font-family: bold; color: #222;
    margin-bottom: 5px;}

    /*최대 인원*/
    div.max_member_room_type
    {width: fit-content;
    max-width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;}

    div.max_member_room_type>p:nth-child(1)
    {width: 209px;
    font-size: 14px;
    margin-right: 5px;
    color: #555; line-height: 25px;}

    div.max_member_room_type>p:nth-child(2)
    {width: fit-content;
    max-width: calc(100% - 214px);
    font-size: 14px;
    color: #555; font-family: 'min_bold';}

    /*가격*/
    div.hotel_room_money
    {width: fit-content;
    float: right;}

    div.hotel_room_money>p
    {width: 100%;
    line-height: 25px;
    text-align: right;}

    div.hotel_room_money>p:nth-child(1)
    {color: #555; font-size: 14px;}

    div.hotel_room_money>p:nth-child(2)
    {font-size: 17px; color: red; font-family: 'min_bold';}

    /*호텔 카트 예약*/
    div.hotel_detaile_cart_ex
    {width: 100%;}

    div.hotel_detaile_cart_form_box
    {width: 100%;
    margin-bottom: 50px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    overflow: hidden;}

    div.hotel_detaile_cart_form_box>div
    {width: 49%;}

    div.hotel_detaile_cart_form_box>div:nth-child(1)
    {margin-right: 2%;}

    /*체크인 체크아웃 타이틀*/
    div.hotel_detaile_cart_form_01_title
    {width: 100%;
    margin-bottom: 15px;}

    div.hotel_detaile_cart_form_01_icon
    {width: 30px; height: 30px;
    margin-bottom: 5px;}

    div.hotel_detaile_cart_form_01_icon img
    {width: 100%; height: 100%;
    object-fit: cover;}

    p.hotel_detaile_cart_form_01_title_txt
    {width: 100%;
    font-size: 17px;
    font-family: bold; color: #222; line-height: 25px;
    word-break: keep-all;}

    /*체크인*/
    div.hotel_detaile_cart_form_01_select_ex
    {width: 100%;}

    div.calendar_01
    {width: 100%;
    margin-bottom: 20px;}

    #calendar_01_number, #calendar_02_number
    {width: 100%; height: 45px;
    border: 1px solid #ddd; box-sizing: border-box;
    background: #fff;
    text-indent: 10px; outline: none; font-size: 15px; color: #222;
    margin-bottom: 10px;
    font-family: 'Pretendard' !important;}

    #calendar_01_number::placeholder {color: #222;}

    #calendar_02_number::placeholder {color: #222;}

    /*달력 제어*/
    .flatpickr-calendar
    {width: 100% !important;
    box-shadow: 0 0 0 !important;
    border: 1px solid #ddd; box-sizing: border-box;
    font-family: 'Pretendard' !important;}
    
    .flatpickr-calendar.inline {top: 0;}

    .flatpickr-months
    {padding-top: 10px; padding-bottom: 10px;
    background-color: #1f4e79;}

    .flatpickr-current-month
    {padding: 0;}

    .flatpickr-current-month .flatpickr-monthDropdown-months
    {height: 30px;
    font-size: 17px !important;
    background: #1f4e79 !important;
    font-family: 'Pretendard' !important;
    color: #fff !important;}

    .flatpickr-current-month input.cur-year
    {height: 30px;
    font-size: 17px !important;
    background: #1f4e79 !important;
    font-family: 'Pretendard' !important;
    overflow-y: hidden !important;
    color: #fff !important;}
    
    /*년도 선택하는 거 안 보이게*/
    .arrowUp {display: none !important;}

    .arrowDown {display: none !important;}
    
    /*꺽세 위치 잡기*/
    .flatpickr-months .flatpickr-prev-month.flatpickr-prev-month
    {top: 6.5px;
    fill: #fff !important;}

    .flatpickr-months .flatpickr-next-month.flatpickr-next-month
    {top: 6.5px;
    fill: #fff !important;}

    .flatpickr-months .flatpickr-prev-month.flatpickr-prev-month:hover svg
    {fill: #fff;}

    .flatpickr-months .flatpickr-next-month.flatpickr-next-month:hover svg
    {fill: #fff;}
    
    /*중앙 정렬*/
    .flatpickr-rContainer
    {width: calc(100% - 10px);
    margin: 0 auto;}

    .flatpickr-days
    {width: 100%;}

    .dayContainer
    {width: 100%;
    min-width: 100%; max-width: none;
    margin: 0 auto;}

    .flatpickr-day
    {width: 14.28571428%; 
    max-width: 14.28571428%; min-width: none;}
    
    /*요일 표시 넓게*/
    .flatpickr-weekdays
    {padding-top: 5px; padding-bottom: 5px;}
    
    /*토, 일 색깔 바꾸기*/
    span.flatpickr-weekday:nth-child(1)
    {color: red !important;}

    span.flatpickr-weekday:nth-child(7)
    {color: blue !important;}

    /*오늘 날짜*/
    .flatpickr-day.today
    {border: none;}

    .flatpickr-day.today:hover
    {background-color: #e6e6e6;
    background: #e6e6e6;
    color: #222;}

    /*요일*/
    .flatpickr-day
    {height: 100%; height: 40px;
    line-height: 40px;
    border-radius: 0;}

    /*룸 타입, 사람 인원 타이틀*/
    div.hotel_detaile_cart_form_02_title
    {width: 100%;
    margin-bottom: 15px;}

    div.hotel_detaile_cart_form_02_icon
    {width: 30px; height: 30px;
    margin-bottom: 5px;}

    div.hotel_detaile_cart_form_02_icon img
    {width: 100%; height: 100%;
    object-fit: cover;}

    p.hotel_detaile_cart_form_02_title_txt
    {width: 100%;
    font-size: 17px;
    font-family: bold; color: #222; line-height: 25px;
    word-break: keep-all;}

    /*룸타입, 사람 선택 셀렉 박스*/
    div.hotel_detaile_cart_form_02_select_ex
    {width: 100%;}

    #hotel_room_type_select
    {width: 100%; height: 45px;
    margin: 0; padding: 0 25px 0 10px;
    background-color: #fff;
    background: url('../img/select_dowm_icon.png') no-repeat 97% 50%/15px auto;
    outline: none;
    color: #222; font-size: 15px;
    font-family: 'Pretendard' !important;
    border: 1px solid #ddd; box-sizing: border-box;
    -webkit-appearance: none; /* for chrome */
    -moz-appearance: none; /*for firefox*/
    appearance: none;
    margin-bottom: 10px;}

    #hotel_room_type_select::-ms-expand
    {display: none;}

    /*인원*/
    div.select_hotel_people_ex
    {width: 100%;}

    /*성인*/
    div.adults_hotel_ex
    {width: 100%;}

    div.adults_hotel_ex>p:nth-child(1)
    {width: 100%;
    word-break: keep-all; font-family: bold; line-height: 25px;
    color: #222;
    margin-bottom: 10px;}

    #hotel_adults_select
    {width: 100%; height: 45px;
    margin: 0; padding: 0 25px 0 10px;
    background-color: #fff;
    background: url('../img/select_dowm_icon.png') no-repeat 97% 50%/15px auto;
    outline: none;
    color: #222; font-size: 15px;
    font-family: 'Pretendard' !important;
    border: 1px solid #ddd; box-sizing: border-box;
    -webkit-appearance: none; /* for chrome */
    -moz-appearance: none; /*for firefox*/
    appearance: none;}

    #hotel_adults_select::-ms-expand
    {display: none;}

    /*청소년?*/
    div.teens_hotel_ex
    {width: 100%;
    margin-top: 15px; margin-bottom: 15px;}

    div.teens_hotel_ex>div:nth-child(1)
    {width: 100%;
    margin-bottom: 10px;}

    div.teens_hotel_ex>div:nth-child(1)>p:nth-child(1)
    {width: 100%;
    word-break: keep-all; font-family: bold; line-height: 25px;
    color: #222;}

    div.teens_hotel_ex>div:nth-child(1)>p:nth-child(2)
    {width: 100%;
    font-size: 14px; line-height: 20px; color: #777;
    word-break: keep-all;}

    #hotel_teens_select
    {width: 100%; height: 45px;
    margin: 0; padding: 0 25px 0 10px;
    background-color: #fff;
    background: url('../img/select_dowm_icon.png') no-repeat 97% 50%/15px auto;
    outline: none;
    color: #222; font-size: 15px;
    font-family: 'Pretendard' !important;
    border: 1px solid #ddd; box-sizing: border-box;
    -webkit-appearance: none; /* for chrome */
    -moz-appearance: none; /*for firefox*/
    appearance: none;}

    #hotel_teens_select::-ms-expand
    {display: none;}

    /*유아*/
    div.toddlers_hotel_ex
    {width: 100%;
    margin-top: 15px; margin-bottom: 15px;}

    div.toddlers_hotel_ex>div:nth-child(1)
    {width: 100%;
    margin-bottom: 10px;}

    div.toddlers_hotel_ex>div:nth-child(1)>p:nth-child(1)
    {width: 100%;
    word-break: keep-all; font-family: bold; line-height: 25px;
    color: #222;}

    div.toddlers_hotel_ex>div:nth-child(1)>p:nth-child(2)
    {width: 100%;
    font-size: 14px; line-height: 20px; color: #777;
    word-break: keep-all;}

    #hotel_toddlers_select
    {width: 100%; height: 45px;
    margin: 0; padding: 0 25px 0 10px;
    background-color: #fff;
    background: url('../img/select_dowm_icon.png') no-repeat 97% 50%/15px auto;
    outline: none;
    color: #222; font-size: 15px;
    font-family: 'Pretendard' !important;
    border: 1px solid #ddd; box-sizing: border-box;
    -webkit-appearance: none; /* for chrome */
    -moz-appearance: none; /*for firefox*/
    appearance: none;}

    #hotel_toddlers_select::-ms-expand
    {display: none;}

    /*버튼 박스*/
    div.hotel_detaile_btn_ex
    {width: 100%;
    overflow: hidden;}

    a.send_email
    {width: 49%; height: 50px;
    margin-right: 2%;
    border-radius: 5px;
    float: left;
    background-color: #51b8ff;
    display: block;
    transition: all 0.3s;}

    a.send_email>p
    {text-align: center;
    color: #fff; line-height: 50px;}

    a.hotel_menu_btn
    {width: 49%; height: 50px;
    border-radius: 5px;
    background-color: #222;
    display: block;
    float: left;}

    a.hotel_menu_btn>p
    {text-align: center; font-size: 15px;
    color: #fff; line-height: 50px;}

    /*장바구니 담기 팝업
    div.cart_submit_popup_ex
    {width: 100%; height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0; left: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;}

    div.cart_submit_popup
    {width: 500px;
    padding-top: 50px; padding-bottom: 50px;
    background-color: #fff;
    border-radius: 5px;}

    div.cart_submit_img_box
    {width: 80px; height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 3px solid #ddd; box-sizing: border-box;}

    div.cart_submit_img_box img
    {width: 50px; height: 50px;
    margin: 15px auto;}

    p.cart_submit_title
    {width: calc(100% - 40px);
    margin: 0 auto;
    word-break: keep-all;
    text-align: center; line-height: 25px;
    font-size: 17px; font-family: 'min_bold'; color: #222;
    margin-bottom: 30px;}

    div.cart_link_box
    {width: calc(100% - 40px);
    margin: 0 auto;
    overflow: hidden;}

    div.cart_link_box>a:nth-child(1)
    {width: calc(50% - 10px); height: 50px;
    border-radius: 5px;
    float: left;
    display: block;
    background-color: #51b8ff;
    margin-right: 20px;}

    div.cart_link_box>a:nth-child(1)>p
    {color: #fff;
    font-size: 15px;
    text-align: center; line-height: 50px;}

    div.cart_link_box>p:nth-child(2)
    {width: calc(50% - 10px); height: 50px;
    border-radius: 5px;
    float: left;
    font-size: 15px;
    text-align: center; line-height: 50px;
    color: #222; background-color: #ccc;
    display: block;}*/
}

@media all and (max-width: 600px)
{   
     /*비주얼배너*/
    div.visual_sub_banner
    {width: 100%; height: 200px;
    overflow: hidden;
    position: relative;}

    /*비주얼 배너*/
    div.visual_sub_banner img
    {width: 100%; height: 100%;
    object-fit: cover;
    transition: all 2s;
    transform: scale(1.2);}

    p.visual_sub_text
    {width: 90%;
    position: absolute;
    top: calc(50% + 5px); left: 5%;
    text-align: center;
    opacity: 0;
    transition: all 2s;
    word-break: keep-all;
    font-family: bold; color: #fff;
    font-size: 24px; line-height: 30px;}
    
    /*호텔 설명*/
    div.hotel_detaile_visual_txt_box>p 
    {width: 90%;
    margin: 0 auto;
    font-size: 14px; line-height: 22px; color: #222;
    word-break: keep-all;
    padding-top: 5%; padding-bottom: 5%;}

    /*기본 정보 폼*/
    div.hotel_detaile_form_box:nth-child(1)
    {width: 100%;
    margin-right: 0;}

    div.hotel_detaile_form_box:nth-child(2)
    {width: 100%;}

    div.hotel_detaile_form_box:nth-child(3)
    {width: 100%;}

    div.hotel_detaile_form_box:nth-child(4)
    {width: 100%;
    margin-bottom: 0;}

    /*객실 컨텐츠*/
    div.hotle_room_type_box
    {width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    overflow: hidden;}

    div.hotel_room_type
    {width: 100%;
    margin-right: 0;
    margin-bottom: 20px;}

    div.hotel_room_type:nth-child(2n+2)
    {margin-right: 0;}

    /*최대 인원*/
    div.max_member_room_type
    {width: 100%;
    display: block;
    margin-bottom: 10px;}

    div.max_member_room_type>p:nth-child(1)
    {width: 100%;
    font-size: 14px;
    color: #555; line-height: 20px;}

    div.max_member_room_type>p:nth-child(2)
    {width: 100%;
    max-width: 100%;
    line-height: 20px;
    font-size: 14px;
    color: #555; font-family: 'min_bold';}

    /*호텔 카트 예약*/
    div.hotel_detaile_cart_ex
    {width: 100%;}

    div.hotel_detaile_cart_form_box
    {width: 100%;
    margin-bottom: 50px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    overflow: hidden;}

    div.hotel_detaile_cart_form_box>div
    {width: 100%;}

    div.hotel_detaile_cart_form_box>div:nth-child(1)
    {margin-right: 0%;
    margin-bottom: 30px;}

    /*버튼 박스*/
    div.hotel_detaile_btn_ex
    {width: 100%;
    overflow: hidden;}

    a.send_email
    {width: 100%; height: 50px;
    margin-right: 0;
    border-radius: 5px;
    float: inherit;
    background-color: #51b8ff;
    display: block;
    transition: all 0.3s;
    margin-bottom: 10px;}

    a.send_email>p
    {text-align: center;
    color: #fff; line-height: 50px;
    font-size: 15px;}

    a.hotel_menu_btn
    {width: 100%; height: 50px;
    border-radius: 5px;
    background-color: #222;
    display: block;
    float: inherit;}

    a.hotel_menu_btn>p
    {text-align: center; font-size: 15px;
    color: #fff; line-height: 50px;}

    /*장바구니 담기 팝업
    div.cart_submit_popup_ex
    {width: 100%; height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0; left: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;}

    div.cart_submit_popup
    {width: 90%;
    padding-top: 30px; padding-bottom: 30px;
    background-color: #fff;
    border-radius: 5px;}

    div.cart_submit_img_box
    {width: 80px; height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid #ddd; box-sizing: border-box;}

    div.cart_submit_img_box img
    {width: 50px; height: 50px;
    margin: 15px auto;}

    p.cart_submit_title
    {width: 90%;
    margin: 0 auto;
    word-break: keep-all;
    text-align: center; line-height: 25px;
    font-size: 16px; font-family: 'min_bold'; color: #222;
    margin-bottom: 20px;}

    div.cart_link_box
    {width: 90%;
    margin: 0 auto;
    overflow: hidden;}

    div.cart_link_box>a:nth-child(1)
    {width: 100%; height: 50px;
    border-radius: 5px;
    float: inherit;
    display: block;
    background-color: #51b8ff;
    margin-right: 0;
    margin-bottom: 10px;}

    div.cart_link_box>a:nth-child(1)>p
    {color: #fff;
    font-size: 14px;
    text-align: center; line-height: 50px;}

    div.cart_link_box>p:nth-child(2)
    {width: 100%; height: 50px;
    border-radius: 5px;
    float: inherit;
    font-size: 14px;
    text-align: center; line-height: 50px;
    color: #222; background-color: #ccc;
    display: block;}*/
}